auto FB PAGE post
[{"createdAt":"2025-07-10T01:35:28.529Z","updatedAt":"2025-07-14T07:29:41.000Z","id":"s7aTbw6VyEXNnDJg","name":"auto FB PAGE post","active":true,"isArchived":false,"nodes":[{"parameters":{"path":"fbPost","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"20b7b9bc-1247-43ce-8faf-00e27699b0bd","name":"Webhook","webhookId":"a9d8dfe1-6458-4f13-bcce-2a79af8d8482"},{"parameters":{"url":"={{ $json.query.imageUrl }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[220,0],"id":"ec2fad43-2cc3-4986-99f8-a9eeb5c4496f","name":"download binary file"},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v19.0","node":"736118579577936","edge":"photos","sendBinaryData":true,"binaryPropertyName":"data","options":{"queryParameters":{"parameter":[{"name":"caption","value":"={{ $json.query.caption }}"}]}}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[440,0],"id":"d0f686ac-bb77-4b7e-8e91-effab3ebfc5d","name":"Facebook Graph API","credentials":{"facebookGraphApi":{"id":"hZCLXRhz5M5ViNEa","name":"HM Automations Page"}}},{"parameters":{"assignments":{"assignments":[{"id":"a62583b3-b342-4e52-9aa9-46034465ea74","name":"fbpostURL","value":"=https://www.facebook.com/{{ $json.id }}_{{ $json.post_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[660,0],"id":"6c95dd49-c624-43f6-b92c-189c309cda23","name":"fb post url"},{"parameters":{"chatId":"7577088103","text":"🎉 CONTENT HAVE BEEN POSTED ✅\non \"HM Automations\" page 👍","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"📎 LINK TO THE POST","additionalFields":{"url":"={{ $json.fbpostURL }}"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[880,0],"id":"0929a9d5-971d-4634-8bdc-5efaac93df7a","name":"Send a text message","webhookId":"f1b6a179-f033-49df-9afd-1b4fcf6265f8","credentials":{"telegramApi":{"id":"7E5uJLVO86gdQ5e6","name":"contentHelperBot"}}}],"connections":{"Webhook":{"main":[[{"node":"download binary file","type":"main","index":0}]]},"download binary file":{"main":[[{"node":"Facebook Graph API","type":"main","index":0}]]},"Facebook Graph API":{"main":[[{"node":"fb post url","type":"main","index":0}]]},"fb post url":{"main":[[{"node":"Send a text message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"X7KwLzwsgWIkSzBo"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.buyitproperties.online","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36","accept":"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8","accept-encoding":"gzip, br","accept-language":"en-US,en;q=0.6","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"120.29.86.159","cf-ipcountry":"PH","cf-ray":"95a9a5eebc0efcf7-SIN","cf-visitor":"{\"scheme\":\"https\"}","cf-warp-tag-id":"c74d64fe-ba5f-4d79-8e65-947e9c1d9060","connection":"keep-alive","cookie":"rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX19c%2BPesZ387QIgKMgJyL6feelnJastXiwM%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX1%2FDGIEsoE%2FdLtu7jMwq%2B6a4CgpGsVCcoTk%3D; n8n-auth=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjM5ZGUyYjQ0LWRjZGYtNDc2Mi1iYjNlLTYwNmM0YjQ5OTAxYSIsImhhc2giOiJBY1VYaS8xcG4wIiwiYnJvd3NlcklkIjoidzFnWVQ3S3ErcXJtZCs1SkR5bTF2Z015S2tkSnkvWGIzSHNHbldzSzVtbz0iLCJpYXQiOjE3NTE1ODYzNjIsImV4cCI6MTc1MjE5MTE2Mn0.lMwn1s62lb5FOmwMxy1REjV_R-2V6hQQ-neHOY3757U; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX1%2BjQSC8sx6hgGuGIjC%2B6QQdcyEpGNQWVuR1pJl8jZ8NMyzKeJB3JLQ1IHYpsZ5d54jl58poGLaF0g%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX19cLtt9uo6lLZVd5Otaw7wBSVpYqZRe3l64gIakwSlf4PVcZBfZx1JM8uVmFVeo0ccLo%2ByJpCx6gKzVs3lYsHgf143B6CbuEJ2ToYrtUQ9qPA%2Fi%2B%2FMr5TGyHCXjLYM8B2F6%2B8pmzRlsQxI9SO%2BzlntpBnlQyi701fQ%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX1%2BgrY7cUMP6vSe8BQ4anNTAtl8WojZgC16RWDlRnKKTd6c0JSfmQsNEe5kEAWDlNulEU32Reg9UtxORewpEYqz0JyRjj0cyYUJ%2Fj1xuIjWMykgsZcH5T4RByy3TXF0HkvU2exag6CvQ%2BA%3D%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%226e189b107a23fe5f87d28f2b7887dce3ddab070a7f3a562d138311b6a180de1a%2339de2b44-dcdf-4762-bb3e-606c4b49901a%22%2C%22%24sesid%22%3A%5B1751747620422%2C%220197dbcb-7472-7e8d-80a2-410c218a126b%22%2C1751739233393%5D%2C%22%24epp%22%3Atrue%2C%22%24initial_person_info%22%3A%7B%22r%22%3A%22%24direct%22%2C%22u%22%3A%22https%3A%2F%2Fn8n.buyitproperties.online%2Fsignin%3Fredirect%3D%25252F%22%7D%7D; rl_session=RudderEncrypt%3AU2FsdGVkX19awT5bWp4Mw6%2Bb3qLpGP4J0CJaK%2Fc5%2B6KNKegGLsgtmxIoaz4rPBnZ7PJyvCF24euWBp6Iv9ieCfePzBUijuQMFKB68cJRsaPtB6lZeICtUFJOEhEPDmyjBNsf%2FA%2BdK4Qi1QaMH5SYVg%3D%3D","priority":"u=0, i","sec-ch-ua":"\"Not)A;Brand\";v=\"8\", \"Chromium\";v=\"138\", \"Brave\";v=\"138\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Windows\"","sec-fetch-dest":"document","sec-fetch-mode":"navigate","sec-fetch-site":"cross-site","sec-fetch-user":"?1","sec-gpc":"1","upgrade-insecure-requests":"1","x-forwarded-for":"120.29.86.159","x-forwarded-proto":"https"},"params":{},"query":{"caption":"Hello, automation peeps! 👋\n\nGmail inbox feeling overwhelmed?  😫 This n8n workflow is your lifesaver!\n\n✅ It automatically sorts your inbox emails into 3 custom labels.\n\n🧹 It then keeps only the 5 most recent emails in your inbox, archiving the rest.\n\n🚀 Supercharge your email management and reclaim your inbox!\n\n#n8n #n8nworkflow #gmail #inboxzero #automation #productivity #efficiency\n","imageUrl":"https://api.telegram.org/file/bot7809549281:AAHiRyR5mbR22GHjAYDZ1Tb5p-hBv24Pw0c/photos/file_0.jpg"},"body":{},"webhookUrl":"https://n8n.buyitproperties.online/webhook-test/fbPost","executionMode":"test"}}]},"versionId":"edaadb28-6e79-48c0-9b26-023317f16f30","triggerCount":1,"shared":[{"createdAt":"2025-07-10T01:35:28.532Z","updatedAt":"2025-07-10T01:35:28.532Z","role":"workflow:owner","workflowId":"s7aTbw6VyEXNnDJg","projectId":"kZBVJF2foTBqYjQ4"}]}]