Capstone Workflow Automations
{"createdAt":"2025-07-10T01:03:13.428Z","updatedAt":"2025-09-26T05:22:28.000Z","id":"XIVNnZttx6bkNtbh","name":"Capstone Workflow Automations","active":false,"isArchived":false,"nodes":[{"parameters":{"id":"67c329a0ecf6f295e6976001"},"type":"n8n-nodes-base.trelloTrigger","typeVersion":1,"position":[1600,112],"id":"70e16584-9731-4456-a2eb-2cf737ded142","name":"Trello Trigger","webhookId":"42bbf78c-01d3-4cc6-a126-9e27dc0f5ac2","credentials":{"trelloApi":{"id":"SuZXRrlNbEQSnUai","name":"Trello account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $execution.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1888,272],"id":"349c33aa-8a53-44e8-b0e0-0cd59f8cc005","name":"Simple Memory"},{"parameters":{"promptType":"define","text":"=TRELLO UPDATE CONTEXT!\n  {{ $json.model.name }}\n  ({{ $json.action.display.translationKey }})\n  ({{ $json.action.display.entities.card.type }} : {{ $json.action.display.entities.card.text }})\n  (previousList: {{ $json.action.display.entities.listBefore.text }})\n  (currentList: {{ $json.action.display.entities.listAfter.text }})\n  (who made the change: {{ $json.action.display.entities.memberCreator.text }})\n   \n\ncheck the trello link: {{ $json.model.url }}","options":{"systemMessage":"You are a helpful assistant\nYour main task to to update us about the updates on our trello board\n\nFollow this format:\nTRELLO UPDATE\n(updates)\n(performed by)\n(trello board url link)"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1824,112],"id":"5d5d9651-3b7e-4419-bdae-8d3d563d69cd","name":"AI Agent1"},{"parameters":{"modelName":"models/gemini-2.0-flash-001","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1760,272],"id":"cb4a9ae1-6fa4-4356-a7f3-0a724359a93d","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"CIweFG2VpXvbqixT","name":"hanzphilip.manaog@email.lcup.edu.ph"}}},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1345411161071419566","mode":"list","cachedResultName":"CAPSTONE","cachedResultUrl":"https://discord.com/channels/1345411161071419566"},"channelId":{"__rl":true,"value":"1345426715425640559","mode":"list","cachedResultName":"✅-tasks-and-progress","cachedResultUrl":"https://discord.com/channels/1345411161071419566/1345426715425640559"},"content":"={{ $json.output }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[2192,112],"id":"f504d2e9-a917-4164-9e6c-612dbf13b440","name":"Send a message1","webhookId":"1836e0d0-1e7d-48a8-9523-360c6ceb6b9e","credentials":{"discordBotApi":{"id":"w9Ye3VWtR5tFUErl","name":"FRIDAY N8N"}}},{"parameters":{"content":"## DOCS TO DISCORD AUTO UPDATE","height":360,"width":760,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[720,32],"id":"d7dfd0d0-b7da-4f1b-a848-d6d62f9228ef","name":"Sticky Note"},{"parameters":{"content":"## TRELLO TO DISCORD AUTO UPDATE","height":360,"width":820,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1552,32],"id":"05951026-96eb-46c6-92cf-1363fef9879b","name":"Sticky Note1"},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1345411161071419566","mode":"list","cachedResultName":"CAPSTONE","cachedResultUrl":"https://discord.com/channels/1345411161071419566"},"channelId":{"__rl":true,"value":"1345426715425640559","mode":"list","cachedResultName":"✅-tasks-and-progress","cachedResultUrl":"https://discord.com/channels/1345411161071419566/1345426715425640559"},"content":"=📢 UPDATE:\n📄 {{ $json.documentName }} has been updated!\n  🤵: {{ $json.lastModifyingUser.displayName }}\n  ⌚: {{ $json.modifiedTime }}\n  📎: {{ $json.webViewLink }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1248,160],"id":"58f59557-99e8-429d-bcba-27f7eb0e410f","name":"Send a message2","webhookId":"dfc9450c-11eb-4e29-8a33-272a902aa582","credentials":{"discordBotApi":{"id":"w9Ye3VWtR5tFUErl","name":"FRIDAY N8N"}}},{"parameters":{"assignments":{"assignments":[{"id":"891549ed-d852-4c8a-a8c2-b00bd5c36a46","name":"lastModifyingUser.displayName","value":"={{ $json.lastModifyingUser.displayName }}","type":"string"},{"id":"4733ad58-046a-480a-89ed-129d9b2add36","name":"modifiedTime","value":"={{ new Date($json.modifiedTime).toLocaleString(\"en-US\", { \n  dateStyle: \"long\", \n  timeStyle: \"short\", \n  hour12: true \n}) }}","type":"string"},{"id":"6d2343c5-e67a-4616-a683-1b3c5b84c5c7","name":"documentName","value":"={{ $json.name }}","type":"string"},{"id":"90605331-0cdb-4570-b807-01372ecb1f67","name":"webViewLink","value":"={{ $json.webViewLink }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1024,160],"id":"4481e340-cbf1-40b6-94ef-3afa7666a018","name":"Edit Fields1"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFile","fileToWatch":{"__rl":true,"value":"https://docs.google.com/document/d/1tH4yH4n8-Sjp4GFoMhIMMDxFYSPVADyw/edit?pli=1#heading=h.7ry6gfhm83km","mode":"url"}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[848,160],"id":"4351fc93-1a81-4b3b-9163-56bd00b5b0b1","name":"Google Drive Trigger","credentials":{"googleDriveOAuth2Api":{"id":"O6SPbKRLlRqQiQIp","name":"hanzphilip.manaog@email.lcup.edu.ph"}},"disabled":true}],"connections":{"Trello Trigger":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"AI Agent1":{"main":[[{"node":"Send a message1","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Edit Fields1":{"main":[[{"node":"Send a message2","type":"main","index":0}]]},"Google Drive Trigger":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"X7KwLzwsgWIkSzBo"},"staticData":{"node:Trello Trigger":{},"node:Google Drive Trigger1":{"lastTimeChecked":"2025-07-26T12:01:18Z"},"node:Google Drive Trigger":{"lastTimeChecked":"2025-08-25T00:26:39Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Trello Trigger":[{"json":{"model":{"id":"67c329a0ecf6f295e6976001","name":"CAPSTONE TASKS","desc":"","descData":null,"closed":false,"idOrganization":"66e920a58875bad4be42d505","idEnterprise":null,"pinned":false,"url":"https://trello.com/b/OQjPh7kO/capstone-tasks","shortUrl":"https://trello.com/b/OQjPh7kO","prefs":{"permissionLevel":"org","hideVotes":false,"voting":"disabled","comments":"members","invitations":"members","selfJoin":true,"cardCovers":true,"showCompleteStatus":true,"cardCounts":false,"isTemplate":false,"cardAging":"regular","calendarFeedEnabled":true,"hiddenPluginBoardButtons":[],"switcherViews":[{"viewType":"Board","enabled":true},{"viewType":"Table","enabled":true},{"viewType":"Calendar","enabled":false},{"viewType":"Dashboard","enabled":false},{"viewType":"Timeline","enabled":false},{"viewType":"Map","enabled":false}],"autoArchive":null,"background":"67c301fc27b8c267c9d1be77","backgroundColor":null,"backgroundDarkColor":null,"backgroundImage":"https://trello-backgrounds.s3.amazonaws.com/SharedBackground/original/7c34118a57683b0211d94dacd2192910/photo-1739911013843-0380d6504480","backgroundDarkImage":null,"backgroundImageScaled":[{"width":67,"height":100,"url":"https://trello-backgrounds.s3.amazonaws.com/SharedBackground/67x100/8ad78b80070f9dbd0e85900eee510ad6/photo-1739911013843-0380d6504480.webp"},{"width":128,"height":192,"url":"https://trello-backgrounds.s3.amazonaws.com/SharedBackground/128x192/8ad78b80070f9dbd0e85900eee510ad6/photo-1739911013843-0380d6504480.webp"},{"width":320,"height":480,"url":"https://trello-backgrounds.s3.amazonaws.com/SharedBackground/320x480/8ad78b80070f9dbd0e85900eee510ad6/photo-1739911013843-0380d6504480.webp"},{"width":640,"height":960,"url":"https://trello-backgrounds.s3.amazonaws.com/SharedBackground/640x960/8ad78b80070f9dbd0e85900eee510ad6/photo-1739911013843-0380d6504480.webp"},{"width":683,"height":1024,"url":"https://trello-backgrounds.s3.amazonaws.com/SharedBackground/683x1024/8ad78b80070f9dbd0e85900eee510ad6/photo-1739911013843-0380d6504480.webp"},{"width":853,"height":1280,"url":"https://trello-backgrounds.s3.amazonaws.com/SharedBackground/853x1280/8ad78b80070f9dbd0e85900eee510ad6/photo-1739911013843-0380d6504480.webp"},{"width":1066,"height":1600,"url":"https://trello-backgrounds.s3.amazonaws.com/SharedBackground/1066x1600/8ad78b80070f9dbd0e85900eee510ad6/photo-1739911013843-0380d6504480.webp"},{"width":1280,"height":1920,"url":"https://trello-backgrounds.s3.amazonaws.com/SharedBackground/1280x1920/8ad78b80070f9dbd0e85900eee510ad6/photo-1739911013843-0380d6504480.webp"},{"width":1365,"height":2048,"url":"https://trello-backgrounds.s3.amazonaws.com/SharedBackground/1365x2048/8ad78b80070f9dbd0e85900eee510ad6/photo-1739911013843-0380d6504480.webp"}],"backgroundTile":false,"backgroundBrightness":"light","sharedSourceUrl":"https://images.unsplash.com/photo-1739911013843-0380d6504480?ixid=M3w3MDY2fDB8MXxjb2xsZWN0aW9ufDF8MzE3MDk5fHx8fHwyfHwxNzQwODMzMjUwfA&ixlib=rb-4.0.3&w=2560&h=2048&q=90","backgroundBottomColor":"#fcfcfc","backgroundTopColor":"#f5f5f5","canBePublic":true,"canBeEnterprise":true,"canBeOrg":true,"canBePrivate":true,"canInvite":true},"labelNames":{"green":"","yellow":"","orange":"","red":"","purple":"","blue":"","sky":"","lime":"","pink":"","black":"","green_dark":"","yellow_dark":"","orange_dark":"","red_dark":"","purple_dark":"","blue_dark":"","sky_dark":"","lime_dark":"","pink_dark":"","black_dark":"","green_light":"","yellow_light":"","orange_light":"","red_light":"","purple_light":"","blue_light":"","sky_light":"","lime_light":"","pink_light":"","black_light":""}},"action":{"id":"6860432975e1640b63fdd723","idMemberCreator":"66e9202cab54a71fd0feba3a","data":{"old":{"idList":"67c32a421d03ac1e210fdf80"},"card":{"idList":"67c32a51bb74522b96056b8d","id":"685a85af39ecca1d1ee5d556","name":"INUMAN NA 🥺","idShort":19,"shortLink":"IaKmtQRA"},"board":{"id":"67c329a0ecf6f295e6976001","name":"CAPSTONE TASKS","shortLink":"OQjPh7kO"},"listBefore":{"id":"67c32a421d03ac1e210fdf80","name":"TO - DO"},"listAfter":{"id":"67c32a51bb74522b96056b8d","name":"IN PROGRESS"}},"appCreator":null,"type":"updateCard","date":"2025-06-28T19:31:53.733Z","limits":null,"display":{"translationKey":"action_move_card_from_list_to_list","entities":{"card":{"type":"card","id":"685a85af39ecca1d1ee5d556","idList":"67c32a51bb74522b96056b8d","shortLink":"IaKmtQRA","text":"INUMAN NA 🥺"},"listBefore":{"type":"list","id":"67c32a421d03ac1e210fdf80","text":"TO - DO"},"listAfter":{"type":"list","id":"67c32a51bb74522b96056b8d","text":"IN PROGRESS"},"memberCreator":{"type":"member","id":"66e9202cab54a71fd0feba3a","username":"hanzphilipmanaog","text":"Hanz Philip Manaog"}}},"memberCreator":{"id":"66e9202cab54a71fd0feba3a","activityBlocked":false,"avatarHash":"478eb8384aae23d0b8cbf3a2686933dc","avatarUrl":"https://trello-members.s3.amazonaws.com/66e9202cab54a71fd0feba3a/478eb8384aae23d0b8cbf3a2686933dc","fullName":"Hanz Philip Manaog","idMemberReferrer":null,"initials":"HM","nonPublic":{},"nonPublicAvailable":true,"username":"hanzphilipmanaog"}},"webhook":{"id":"686043285e004823d73eafdd","description":"n8n Webhook - 67c329a0ecf6f295e6976001","idModel":"67c329a0ecf6f295e6976001","callbackURL":"https://n8n.buyitproperties.online/webhook-test/42bbf78c-01d3-4cc6-a126-9e27dc0f5ac2/webhook","active":true,"consecutiveFailures":0,"firstConsecutiveFailDate":null}}}]},"versionId":"23f4f5b8-d865-4cbf-963d-3e5872c97abe","triggerCount":1,"shared":[{"createdAt":"2025-07-10T01:03:13.430Z","updatedAt":"2025-07-10T01:03:13.430Z","role":"workflow:owner","workflowId":"XIVNnZttx6bkNtbh","projectId":"kZBVJF2foTBqYjQ4"}],"tags":[]}