Captions Generator
{"createdAt":"2025-07-10T01:27:56.418Z","updatedAt":"2025-07-14T07:29:56.000Z","id":"UKVZAaQ3mOMT3Lno","name":"Captions Generator","active":true,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[0,0],"id":"71700c4a-ae07-489e-9376-0106cc9f92f9","name":"Telegram Trigger","webhookId":"44c05faa-1f28-46a8-a379-eb5867c4acf2","credentials":{"telegramApi":{"id":"7E5uJLVO86gdQ5e6","name":"contentHelperBot"}}},{"parameters":{"url":"=https://api.telegram.org/bot7809549281:AAHiRyR5mbR22GHjAYDZ1Tb5p-hBv24Pw0c/getFile?file_id={{ $json.file_id }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,0],"id":"b0ae0fa5-25d0-4cad-a3e8-39b892881bf3","name":"get file details"},{"parameters":{"url":"={{ $json.imageURL }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[640,0],"id":"8aa78f78-9e75-4591-bd21-e473a3c2caeb","name":"download file"},{"parameters":{"jsCode":"// Access photo array and caption from Telegram trigger\nconst photoArray = $json.message.photo;\nconst caption = $json.message.caption || '';\n\n// Get the last photo (usually the highest resolution one)\nconst latestPhoto = photoArray[photoArray.length - 1];\n\nreturn [{\n  json: {\n    file_id: latestPhoto.file_id,\n    caption: caption\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[160,0],"id":"bc7fb900-de07-4849-91f1-1e0f6e5e4771","name":"get latest image and caption"},{"parameters":{"promptType":"define","text":"=<image>\n{{ $json.image_base64 }}\n</image>\n<userrequest>\n{{ $('get latest image and caption').item.json.caption }}\n</userrequest>\n\nUse the userrequest as a context about the image. \nUse a Taglish language but mostly English.\nUse emojis at the start of bulletpoints, limit to 1 sentence each. \nAlways use \"Hello, automation peeps! 👋\" as introduction\nbelow is an ouput example:\n\n<example>\nHello, Automation peeps! 👋\n  🧑‍💻 I'd like to share to you a workflow I did using n8n.\n  🤖 It is an ai chatbot assistant inside telegram.\n  ⚙️ It replies, gives news updates, and daily quotes\n  😎 Astig diba!\n#n8nAutomation #chatbot #productivity\n</example>","options":{"systemMessage":"You are a helpful content creator\nYour task is to create a short caption for the image sent by user.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[20,200],"id":"93f66209-3b34-4bb9-b3b8-bdfc3e25ba1c","name":"AI Agent"},{"parameters":{"jsCode":"// Get all binary properties\nconst binary = $input.item.binary;\n\n// Ensure the expected binary property exists\nif (!binary || !binary.data || !binary.data.data) {\n  throw new Error(\"Binary image not found in binary.data.data\");\n}\n\n// Get the base64 image (already encoded by n8n)\nconst base64Image = binary.data.data;\n\n// Optional: caption if passed along JSON\nconst caption = $json.caption || '';\n\nreturn [{\n  json: {\n    image_base64: base64Image,\n    caption: caption\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[780,0],"id":"6e357866-3884-4fc8-bced-9b87be412ce0","name":"Code"},{"parameters":{"operation":"sendPhoto","chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","file":"={{ $('get file details').item.json.result.file_id }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"=Post to Facebook","additionalFields":{"url":"={{ $json.webhookUrl }}"}}]}}]},"additionalFields":{"caption":"={{ $('AI Agent').item.json.output }}"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[560,200],"id":"5bbea065-11d7-4ee0-8e2f-df375a075e32","name":"Send a photo message","webhookId":"c9a10169-6910-4115-8d72-e9d919e78b1e","credentials":{"telegramApi":{"id":"7E5uJLVO86gdQ5e6","name":"contentHelperBot"}}},{"parameters":{"assignments":{"assignments":[{"id":"c2981803-074a-4609-8324-3b332518b2f4","name":"imageURL","value":"=https://api.telegram.org/file/bot7809549281:AAHiRyR5mbR22GHjAYDZ1Tb5p-hBv24Pw0c/{{$json.result.file_path}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[480,0],"id":"40bb963e-53af-4a5f-b56b-5930d2bc7cb2","name":"URL"},{"parameters":{"jsCode":"const caption = $json.output;\nconst imageUrl = $('URL').first().json.imageURL; // or $('URL').item.json.imageURL if needed\n\nconst webhookUrl = `https://n8n.buyitproperties.online/webhook/fbPost?caption=${encodeURIComponent(caption)}&imageUrl=${encodeURIComponent(imageUrl)}`;\n\nreturn [{\n  json: {\n    webhookUrl,\n    caption,\n    imageUrl\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[380,200],"id":"cd2bc435-187b-47f5-afaa-4ea026a3d8d3","name":"Code1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[20,340],"id":"fff6b01e-d99b-454e-b3c0-461b8c42b5fd","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"46evShUOcFx3uOQG","name":"manaoghanzphilip@gmail.com"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"get latest image and caption","type":"main","index":0}]]},"get file details":{"main":[[{"node":"URL","type":"main","index":0}]]},"get latest image and caption":{"main":[[{"node":"get file details","type":"main","index":0}]]},"download file":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Code1","type":"main","index":0}]]},"URL":{"main":[[{"node":"download file","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Send a photo message","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"X7KwLzwsgWIkSzBo"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Telegram Trigger":[{"json":{"update_id":744468052,"message":{"message_id":66,"from":{"id":7577088103,"is_bot":false,"first_name":"George","username":"georgei_143","language_code":"en"},"chat":{"id":7577088103,"first_name":"George","username":"georgei_143","type":"private"},"date":1752111087,"photo":[{"file_id":"AgACAgUAAxkBAANCaG8X7hGHKmAJqFrXxJINIL3ns7YAApbNMRuoGnhXlaOnc1SJpAcBAAMCAANzAAM2BA","file_unique_id":"AQADls0xG6gaeFd4","file_size":789,"width":90,"height":47},{"file_id":"AgACAgUAAxkBAANCaG8X7hGHKmAJqFrXxJINIL3ns7YAApbNMRuoGnhXlaOnc1SJpAcBAAMCAANtAAM2BA","file_unique_id":"AQADls0xG6gaeFdy","file_size":10618,"width":320,"height":168},{"file_id":"AgACAgUAAxkBAANCaG8X7hGHKmAJqFrXxJINIL3ns7YAApbNMRuoGnhXlaOnc1SJpAcBAAMCAAN4AAM2BA","file_unique_id":"AQADls0xG6gaeFd9","file_size":45683,"width":800,"height":419},{"file_id":"AgACAgUAAxkBAANCaG8X7hGHKmAJqFrXxJINIL3ns7YAApbNMRuoGnhXlaOnc1SJpAcBAAMCAAN5AAM2BA","file_unique_id":"AQADls0xG6gaeFd-","file_size":66003,"width":1144,"height":599}],"caption":"an n8n workflow that auto generates captions"}}}]},"versionId":"bb499cf5-9a07-4d03-96e4-b0451bf7a050","triggerCount":1,"shared":[{"createdAt":"2025-07-10T01:27:56.421Z","updatedAt":"2025-07-10T01:27:56.421Z","role":"workflow:owner","workflowId":"UKVZAaQ3mOMT3Lno","projectId":"kZBVJF2foTBqYjQ4"}],"tags":[]}