cert2_flow2.json
{
  "updatedAt": "2026-01-29T06:25:10.881Z",
  "createdAt": "2026-01-29T05:11:32.469Z",
  "id": "02v9jaiBMqMtcqM7OwXqG",
  "name": "cert2_flow2",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        168
      ],
      "id": "d203fdf7-3f60-4dc3-bf71-caf335a03ace",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://learn.app.n8n.cloud/webhook/level2-erp",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "unique_id",
              "value": "f1d0807ace6a4b1af83a5cd75b3ef53f"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        224,
        72
      ],
      "id": "6d2fb856-a808-45c2-b283-f7cc40c945d1",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "5NiXRD4uhGlILEWX",
          "name": "level2 n8n course"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appkPskwmisGF6USq",
          "mode": "list",
          "cachedResultName": "cert2Table",
          "cachedResultUrl": "https://airtable.com/appkPskwmisGF6USq"
        },
        "table": {
          "__rl": true,
          "value": "tblLmZqPeH4xl16uy",
          "mode": "list",
          "cachedResultName": "customers",
          "cachedResultUrl": "https://airtable.com/appkPskwmisGF6USq/tblLmZqPeH4xl16uy"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        224,
        264
      ],
      "id": "a96c9731-e7ce-4182-8907-f2ced1b917ef",
      "name": "Search records",
      "credentials": {
        "airtableTokenApi": {
          "id": "cYcsallvIUkc3k4T",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "customerID",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        448,
        168
      ],
      "id": "7b7f4072-7328-4c71-9739-94f700e86b48",
      "name": "Merge"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "orderPrice",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        672,
        168
      ],
      "id": "06290c33-c4ec-436b-beac-898ab0c8125e",
      "name": "Sort"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "55c1d11d-12a8-4f0e-a1ab-aa7feb3eec8c",
              "leftValue": "={{ $json.region }}",
              "rightValue": "Americas",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        896,
        168
      ],
      "id": "6bf666b2-ee66-4aaf-8026-b42d01b07754",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1120,
        0
      ],
      "id": "6980add9-0680-4758-9d15-4b48700d3f82",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "sendTo": "manaoghanzphilip@gmail.com",
        "subject": "N8N LEVEL 2 COURSE",
        "message": "N8N LEVEL 2 COURSE",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1344,
        0
      ],
      "id": "cba29842-1a27-492d-80ba-280dd097d7b2",
      "name": "Send a message",
      "webhookId": "1e7f6580-7e22-4eb9-a140-ab70188c50bf",
      "credentials": {
        "gmailOAuth2": {
          "id": "SQjQESRGfbvsewnr",
          "name": "manaoghanzphilip@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=I sent the file using email with the label ID {{ $json.id }}. My ID: f1d0807ace6a4b1af83a5cd75b3ef53f",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1568,
        0
      ],
      "id": "9e2eecb9-0444-48ff-a1bf-e43f4924a876",
      "name": "Discord",
      "webhookId": "50fad53f-c471-4257-a7cf-3ad4d27eb6c5",
      "credentials": {
        "discordWebhookApi": {
          "id": "jt6di5DVPbLoYyMb",
          "name": "n8n course level 2"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1120,
        264
      ],
      "id": "707fc312-d54a-4744-94fa-8576211a0fc9",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "19abc258-b580-496f-a4be-e59f526fad40",
              "name": "customerEmail",
              "value": "={{ $json.customerEmail }}",
              "type": "string"
            },
            {
              "id": "cc3cad39-fd7e-4b63-9d94-8f6b97ca3cbd",
              "name": "customerRegion",
              "value": "={{ $json.region }}",
              "type": "string"
            },
            {
              "id": "74fe851f-06ac-4161-8068-5e185494ee30",
              "name": "customerSince",
              "value": "={{ $json.customerSince }}",
              "type": "string"
            },
            {
              "id": "9a324270-4e96-466f-beee-bc2a4be4d902",
              "name": "orderPrice",
              "value": "={{ $json.orderPrice }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1344,
        192
      ],
      "id": "692699bb-d424-4a69-811a-e68e0674e032",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.customerSince }}",
        "options": {
          "includeInputFields": true
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1568,
        192
      ],
      "id": "4d7239ad-9a5a-4a2b-9107-a7a3a6906dd6",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "binaryPropertyName": "={{$runIndex > 0 ? 'file_low_orders':'file_high_orders'}}",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1792,
        192
      ],
      "id": "9db4b7d7-53d2-40f2-92e9-59c7160d3864",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=I created the spreadsheet {{ $binary.file_high_orders.fileName }}. My ID: f1d0807ace6a4b1af83a5cd75b3ef53f",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        2016,
        264
      ],
      "id": "4aab6a7a-9b6d-4a16-b2ca-c033ffce7227",
      "name": "Discord1",
      "webhookId": "7367a033-e59a-4405-b505-bd62e3cfebc8",
      "credentials": {
        "discordWebhookApi": {
          "id": "jt6di5DVPbLoYyMb",
          "name": "n8n course level 2"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Discord1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "c4j0IKc75gYKnCX0Vtdbn"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "dbfb4360-c800-4de7-8fc3-dc4cc6dc7832",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-29T05:11:32.472Z",
      "createdAt": "2026-01-29T05:11:32.472Z",
      "role": "workflow:owner",
      "workflowId": "02v9jaiBMqMtcqM7OwXqG",
      "projectId": "kZBVJF2foTBqYjQ4"
    }
  ],
  "activeVersion": null,
  "tags": []
}