githubSync
[{"createdAt":"2025-09-26T05:23:32.321Z","updatedAt":"2025-09-26T05:58:21.000Z","id":"cSC0VAQcHiRB4rIl","name":"githubSync","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-432,-144],"id":"7f61f150-c1f8-476d-a33f-be31a5e12d9b","name":"Schedule Trigger"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-240,-144],"id":"2e90e111-594c-477b-8033-a15493ceeb1a","name":"Get many workflows","credentials":{"n8nApi":{"id":"gku22QKSzhtBldGE","name":"n8n account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[64,-144],"id":"422acf26-a259-4256-a70f-5564e9b9d6a4","name":"Loop Over Items"},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"delete","owner":{"__rl":true,"value":"philip-dman","mode":"name"},"repository":{"__rl":true,"value":"n8nWorkflows","mode":"list","cachedResultName":"n8nWorkflows","cachedResultUrl":"https://github.com/philip-dman/n8nWorkflows"},"filePath":"={{ $json.name }}","commitMessage":"delete previous version","additionalParameters":{"committer":{"name":"Hanz Manaog","email":"manaoghanzphilip@gmail.com"}}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[576,-48],"id":"6aaf699a-5189-401c-99d1-0268ee65bd82","name":"Delete a file","webhookId":"07de87e0-3a44-4454-99ba-d054f177da84","credentials":{"githubOAuth2Api":{"id":"SbjPMHN0q4cO5MNL","name":"GitHub account"}},"onError":"continueErrorOutput"},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"mode":"list","value":""},"repository":{"__rl":true,"mode":"list","value":""}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[512,144],"id":"0d0ead61-85a8-4b19-aea0-eab574dde241","name":"Edit a file","webhookId":"af1b1185-1559-41b5-9a5b-112786e6f1ae","credentials":{"githubOAuth2Api":{"id":"SbjPMHN0q4cO5MNL","name":"GitHub account"}}},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"get","owner":{"__rl":true,"value":"philip-dman","mode":"name"},"repository":{"__rl":true,"value":"n8nWorkflows","mode":"list","cachedResultName":"n8nWorkflows","cachedResultUrl":"https://github.com/philip-dman/n8nWorkflows"},"binaryPropertyName":"filePulled","additionalParameters":{}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[272,-48],"id":"f9eaa3bc-f910-4f43-8fdb-10cafffe0e72","name":"Get a file","webhookId":"75230f40-d0d3-4af5-b6d7-1d65caf0d8c0","credentials":{"githubOAuth2Api":{"id":"SbjPMHN0q4cO5MNL","name":"GitHub account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]},"Get many workflows":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Get a file","type":"main","index":0}]]},"Delete a file":{"main":[[{"node":"Edit a file","type":"main","index":0}]]},"Edit a file":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get a file":{"main":[[{"node":"Delete a file","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a42c1ab5-7cba-441b-accd-8f4960d5c814","triggerCount":0,"shared":[{"createdAt":"2025-09-26T05:23:32.324Z","updatedAt":"2025-09-26T05:23:32.324Z","role":"workflow:owner","workflowId":"cSC0VAQcHiRB4rIl","projectId":"kZBVJF2foTBqYjQ4"}]}]