githubSync
{"createdAt":"2025-09-26T05:23:32.321Z","updatedAt":"2025-09-26T06:49:59.000Z","id":"cSC0VAQcHiRB4rIl","name":"githubSync","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-432,-144],"id":"7f61f150-c1f8-476d-a33f-be31a5e12d9b","name":"Schedule Trigger"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-208,-144],"id":"2e90e111-594c-477b-8033-a15493ceeb1a","name":"Get many workflows","credentials":{"n8nApi":{"id":"gku22QKSzhtBldGE","name":"n8n account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[112,-144],"id":"422acf26-a259-4256-a70f-5564e9b9d6a4","name":"Loop Over Items"},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"philip-dman","mode":"name"},"repository":{"__rl":true,"value":"n8nWorkflows","mode":"list","cachedResultName":"n8nWorkflows","cachedResultUrl":"https://github.com/philip-dman/n8nWorkflows"},"filePath":"={{ $('Loop Over Items').item.json.name }}","binaryData":true,"binaryPropertyName":"={{ $('Loop Over Items').item.json.name }}","commitMessage":"=Create {{ $('Loop Over Items').item.json.name }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[544,48],"id":"cafaac77-eb91-41a6-9f19-d7f46cb85c34","name":"Create a file","webhookId":"87cf2f01-9df5-46a7-970f-feb56e6449f5","credentials":{"githubOAuth2Api":{"id":"SbjPMHN0q4cO5MNL","name":"GitHub account"}}},{"parameters":{"operation":"toJson","mode":"each","binaryPropertyName":"={{ $json.name }}","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[384,48],"id":"6482a1fd-0364-4aa9-b3ea-017d1e9764e6","name":"Convert to File"},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"delete","owner":{"__rl":true,"value":"philip-dman","mode":"name"},"repository":{"__rl":true,"value":"n8nWorkflows","mode":"list","cachedResultName":"n8nWorkflows","cachedResultUrl":"https://github.com/philip-dman/n8nWorkflows"},"filePath":"={{ $json.name }}","commitMessage":"=Delete {{ $json.name }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[384,-128],"id":"a74be2dd-8e29-46dc-b0de-022ee8fae57c","name":"Delete a file","webhookId":"d7007549-7a9e-4891-b2e2-2297759cbc60","credentials":{"githubOAuth2Api":{"id":"SbjPMHN0q4cO5MNL","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"{{ $items(\"Loop Over Items\") }}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[688,-272],"id":"c2a0684d-b114-4b7f-b238-06fc1764e558","name":"Code in JavaScript"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]},"Get many workflows":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Delete a file","type":"main","index":0},{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Create a file","type":"main","index":0}]]},"Create a file":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Delete a file":{"main":[[]]},"Code in JavaScript":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"bb0e5797-9247-48c1-9195-893a91bce876","triggerCount":0,"shared":[{"createdAt":"2025-09-26T05:23:32.324Z","updatedAt":"2025-09-26T05:23:32.324Z","role":"workflow:owner","workflowId":"cSC0VAQcHiRB4rIl","projectId":"kZBVJF2foTBqYjQ4"}],"tags":[]}