Plane Webhook
{"createdAt":"2025-09-01T14:25:10.927Z","updatedAt":"2025-09-01T14:46:47.000Z","id":"CVAGAbktF2zmAqYP","name":"Plane Webhook","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"plane","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"565cf5aa-5bc6-4e26-917a-88313868f59a","name":"Webhook","webhookId":"c2695dcf-31c1-4997-8508-2acc87bc116e"},{"parameters":{"promptType":"define","text":"={{ $json.planeData }}","needsFallback":true,"options":{"systemMessage":"You are a helpful assistant\n\nYour task is to create a short message that will summarize the update form a project management tool \"Plane\". \n\nDo not include \"Here's the summary\" or anything alike in the message\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[416,0],"id":"9d3d4278-4a4d-4a7e-8cd8-5d6f75c02b47","name":"AI Agent"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"planeData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[208,0],"id":"c2cd51c7-cc41-476f-9a06-814985a6af6c","name":"Aggregate"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[272,208],"id":"101c057e-0828-48f3-a222-55bb5a302998","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"wZuLC2RdDp5qitbQ","name":"manaoghanzphilip@gmail.com"}}},{"parameters":{"modelName":"models/gemini-1.5-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[384,208],"id":"d23031fe-e2d2-4d54-9f55-4402a866d666","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"wZuLC2RdDp5qitbQ","name":"manaoghanzphilip@gmail.com"}}}],"connections":{"Webhook":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":1}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.buyitproperties.online","user-agent":"Autopilot","content-length":"2309","accept":"*/*","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"120.29.86.159","cf-ipcountry":"PH","cf-ray":"97857ad6effd9cc5-SIN","cf-visitor":"{\"scheme\":\"https\"}","cf-warp-tag-id":"c04fb8ca-f200-464a-90c5-3cb796bcc077","connection":"keep-alive","content-type":"application/json","x-forwarded-for":"120.29.86.159","x-forwarded-proto":"https","x-plane-delivery":"6fb09f77-8a68-4927-a1ff-c8c103439a87","x-plane-event":"issue","x-plane-signature":"3797418f771a22d05e5a38fef6a39be96d6afaefd891f8260d56b990fac9a998"},"params":{},"query":{},"body":{"event":"issue","action":"updated","webhook_id":"ef6cf5a4-9697-4861-8926-0704b325ffdc","workspace_id":"0f7aba44-d957-43d5-9940-1c0948d95da4","data":{"id":"b9d78113-9266-4854-9a4d-fffd1067dca3","labels":[],"assignees":[{"id":"f780c32d-d213-4dc4-99ba-a9aa5d22c0c8","first_name":"Hanz","last_name":"Manaog","email":"manaoghanzphilip@gmail.com","avatar":"","avatar_url":"/api/assets/v2/static/94b39915-dd06-40ce-9371-37511c34e9a4/","display_name":"manaoghanzphilip"},{"id":"34f1ac6e-bd80-44de-813d-3ec73404669f","first_name":"Roi  Nathaniel","last_name":"Ballesteros","email":"roinathaniel.ballesteros@email.lcup.edu.ph","avatar":"","avatar_url":"/api/assets/v2/static/86c57ee0-1203-4a00-8f3e-80ad9f2bf7ef/","display_name":"roinathaniel.ballesteros"},{"id":"645aa31a-42bf-4432-8731-ceba790b31a3","first_name":"John Christian","last_name":"Rosuelo","email":"johnchristian.rosuelo@email.lcup.edu.ph","avatar":"","avatar_url":null,"display_name":"johnchristian.rosuelo"}],"state":{"id":"28459247-5a94-45b2-8eae-26e96647e395","name":"In Progress","color":"#F59E0B","group":"started"},"created_at":"2025-08-31T10:08:22.569175Z","updated_at":"2025-09-01T14:32:56.811297Z","deleted_at":null,"point":null,"name":"Bring flashdrive and laptop for demonstration","description":{},"description_html":"<p></p>","description_stripped":"","description_binary":null,"priority":"high","start_date":null,"target_date":"2025-09-02","sequence_id":2,"sort_order":65535,"completed_at":null,"archived_at":null,"is_draft":false,"external_source":null,"external_id":null,"created_by":"f780c32d-d213-4dc4-99ba-a9aa5d22c0c8","updated_by":"f780c32d-d213-4dc4-99ba-a9aa5d22c0c8","project":"e419815a-da19-4cfb-8763-bc63b00e16b0","workspace":"0f7aba44-d957-43d5-9940-1c0948d95da4","parent":null,"estimate_point":null,"type":null},"activity":{"field":"sort_order","new_value":65535,"old_value":70000,"actor":{"id":"f780c32d-d213-4dc4-99ba-a9aa5d22c0c8","first_name":"Hanz","last_name":"Manaog","email":"manaoghanzphilip@gmail.com","avatar":"","avatar_url":"/api/assets/v2/static/94b39915-dd06-40ce-9371-37511c34e9a4/","display_name":"manaoghanzphilip"},"old_identifier":null,"new_identifier":null}},"webhookUrl":"https://n8n.buyitproperties.online/webhook-test/plane","executionMode":"test"}}]},"versionId":"53c187e6-b7ed-4221-995d-13d3173ae908","triggerCount":0,"shared":[{"createdAt":"2025-09-01T14:25:10.931Z","updatedAt":"2025-09-01T14:25:10.931Z","role":"workflow:owner","workflowId":"CVAGAbktF2zmAqYP","projectId":"kZBVJF2foTBqYjQ4"}],"tags":[]}