SAFEHUB BOT PROTOTYPE
{"createdAt":"2025-07-11T02:26:44.772Z","updatedAt":"2025-10-01T07:15:56.000Z","id":"BgwmEMlI802p4qdB","name":"SAFEHUB BOT PROTOTYPE","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","hasOutputParser":true,"options":{"systemMessage":"You are a helpful assistant\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[208,0],"id":"2e57133a-cb79-44de-9259-1358f11803d5","name":"AI Agent"},{"parameters":{"model":"qwen3:1.7b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[-64,272],"id":"d1e50be0-b5a9-483d-9bc9-98ee06b75569","name":"Ollama Chat Model","credentials":{"ollamaApi":{"id":"yC47J5PaPQAqeORC","name":"Ollama account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[96,256],"id":"16f632f6-4114-41fe-9584-34d855b8487f","name":"Simple Memory","disabled":true},{"parameters":{"endpointUrl":"https://n8n.buyitproperties.online/mcp/basicTools","options":{}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1.1,"position":[240,256],"id":"20c47af7-9e2c-41bb-8a83-fcf5e2c6ca37","name":"MCP Client"},{"parameters":{"method":"POST","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[560,0],"id":"853ebf3a-c680-4b16-a8ad-f70945fae272","name":"HTTP Request"},{"parameters":{"path":"safehubprototype","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-80,0],"id":"a7e6498b-ab35-46e2-aac1-5d2783a2ab86","name":"Webhook","webhookId":"6117ea67-d2b3-4090-94e7-b4683860c513"}],"connections":{"Ollama Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"MCP Client":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"X7KwLzwsgWIkSzBo"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"01a91528-bc75-4021-a83c-4e4abd23cf45","triggerCount":1,"shared":[{"createdAt":"2025-07-11T02:26:44.776Z","updatedAt":"2025-07-11T02:26:44.776Z","role":"workflow:owner","workflowId":"BgwmEMlI802p4qdB","projectId":"kZBVJF2foTBqYjQ4"}],"tags":[]}