SAFEHUB BOT PROTOTYPE
[{"createdAt":"2025-07-11T02:26:44.772Z","updatedAt":"2025-08-14T20:14:56.000Z","id":"BgwmEMlI802p4qdB","name":"SAFEHUB BOT PROTOTYPE","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[0,0],"id":"538d700b-0169-40f2-bbe7-7b5e19ab8c58","name":"When chat message received","webhookId":"6778ed57-f489-416d-a1ae-fa12ebb7a8b7"},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","hasOutputParser":true,"options":{"systemMessage":"You are a helpful assistant\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[208,0],"id":"2e57133a-cb79-44de-9259-1358f11803d5","name":"AI Agent"},{"parameters":{"model":"qwen3:1.7b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[144,176],"id":"d1e50be0-b5a9-483d-9bc9-98ee06b75569","name":"Ollama Chat Model","credentials":{"ollamaApi":{"id":"yC47J5PaPQAqeORC","name":"Ollama account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[288,176],"id":"16f632f6-4114-41fe-9584-34d855b8487f","name":"Simple Memory","disabled":true},{"parameters":{"endpointUrl":"https://n8n.buyitproperties.online/mcp/basicTools"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1.1,"position":[448,176],"id":"20c47af7-9e2c-41bb-8a83-fcf5e2c6ca37","name":"MCP Client"}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"MCP Client":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"X7KwLzwsgWIkSzBo"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2f0309ca-b261-46d1-bde1-fc56c8b721ef","triggerCount":1,"shared":[{"createdAt":"2025-07-11T02:26:44.776Z","updatedAt":"2025-07-11T02:26:44.776Z","role":"workflow:owner","workflowId":"BgwmEMlI802p4qdB","projectId":"kZBVJF2foTBqYjQ4"}]}]