workflow-auto-update.json
{
  "updatedAt": "2025-09-26T06:53:58.000Z",
  "createdAt": "2025-07-10T00:59:00.071Z",
  "id": "j4fRWwsCcFizf3sZ",
  "name": "workflow auto update",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        80,
        280
      ],
      "id": "5fdd7479-ff57-456b-93b3-1b8dbdf38428",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        80,
        80
      ],
      "id": "105aff01-92f3-4cf7-b6f7-6684c80e7cbe",
      "name": "Get many workflows",
      "credentials": {
        "n8nApi": {
          "id": "gku22QKSzhtBldGE",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        340,
        80
      ],
      "id": "f20447fa-f244-487a-9176-c7737aa6c8a8",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "inputDataFieldName": "=workflowfile",
        "name": "={{ $('Code').item.json.name }}",
        "driveId": {
          "__rl": true,
          "value": "1DObVpQlyzpGSt3Xa6H9vfQaHe0LopziY",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "=1XHsgg1HR2rmLbvn2hy0LYpxAn7dsn9NU",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1380,
        280
      ],
      "id": "25e4292b-fcda-4bc5-a2b1-b29ae6452d3f",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ljpoFxX9JuE7xZ8G",
          "name": "manaoghanzphilip@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1f7cbd3c-a341-4655-879c-80a36fe00636",
              "leftValue": "={{ $json.id }}",
              "rightValue": "={{ $('get data').item.json.id }}",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        760,
        280
      ],
      "id": "e8a84212-4020-4071-b817-dca9dc1aec83",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "update",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Code1').item.json.docID }}",
          "mode": "id"
        },
        "changeFileContent": true,
        "inputDataFieldName": "workflowfile",
        "newUpdatedFileName": "={{ $('Code1').item.json.name }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1380,
        100
      ],
      "id": "60d08b4a-9d9b-4ed1-a53d-e9eacd56d05e",
      "name": "Update file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ljpoFxX9JuE7xZ8G",
          "name": "manaoghanzphilip@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "binaryPropertyName": "=workflowfile",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1220,
        280
      ],
      "id": "05c0615f-f01c-4141-9bb8-882da3ef2f8d",
      "name": "create file"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6c10f2e4-c3d8-42e2-bdcc-0056a1813d73",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        440,
        280
      ],
      "id": "f73026b0-3a72-4c20-ac18-e8f2b8d61f6a",
      "name": "get data"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $json.name }}",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1XHsgg1HR2rmLbvn2hy0LYpxAn7dsn9NU",
            "mode": "id"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        600,
        280
      ],
      "id": "0b270cbf-629f-49f6-9dea-bfdad6c4c370",
      "name": "Search",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ljpoFxX9JuE7xZ8G",
          "name": "manaoghanzphilip@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: $node[\"get data\"].json\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1060,
        280
      ],
      "id": "fee41f91-04ce-463b-8c08-fbc937c61c9c",
      "name": "Code"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      ...$node[\"get data\"].json,\n      docID: $input.first().json.id\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1060,
        100
      ],
      "id": "aaa13fd4-e6ba-47de-81c3-35d6cb292d1b",
      "name": "Code1"
    },
    {
      "parameters": {
        "chatId": "7577088103",
        "text": "😎👍 WORKFLOWS GDRIVE BACKUP SUCCESS✨",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        680,
        80
      ],
      "id": "a39923fb-d7a8-4484-8472-9f8f8113ed4a",
      "name": "Send a text message",
      "webhookId": "43cab83c-2a31-4f52-9b62-b7d54741dea4",
      "credentials": {
        "telegramApi": {
          "id": "xAR03zieJX7sa85l",
          "name": "Ai Assistant"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        520,
        80
      ],
      "id": "d1731701-4f91-416c-b896-29fc47414530",
      "name": "Limit"
    },
    {
      "parameters": {
        "content": "## UPDATE & UPLOAD\n",
        "height": 480,
        "width": 620,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        960,
        0
      ],
      "typeVersion": 1,
      "id": "aa4211f3-3825-48f6-a91a-535a3459ff02",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## LOOP, FILTER, CHECK DATA",
        "height": 480,
        "width": 620,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        320,
        0
      ],
      "typeVersion": 1,
      "id": "1d956c5a-a8ca-4310-9755-99fac584213c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "binaryPropertyName": "=workflowfile",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1220,
        100
      ],
      "id": "1c4e47a7-8f43-4be2-a67f-d78c3b9e0da2",
      "name": "file update"
    },
    {
      "parameters": {
        "content": "## TRIGGER, GET DATA\n",
        "height": 480,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "ac9b084d-2ba8-49db-bf1f-9fb2bcb69263",
      "name": "Sticky Note2"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many workflows": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create file": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get data": {
      "main": [
        [
          {
            "node": "Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "create file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "file update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "file update": {
      "main": [
        [
          {
            "node": "Update file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "X7KwLzwsgWIkSzBo"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "db5f9d33-c312-414f-86b9-87f2a20c8d12",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-07-10T00:59:00.075Z",
      "createdAt": "2025-07-10T00:59:00.075Z",
      "role": "workflow:owner",
      "workflowId": "j4fRWwsCcFizf3sZ",
      "projectId": "kZBVJF2foTBqYjQ4"
    }
  ],
  "activeVersion": null,
  "tags": []
}