n8nWorkflows/diet-tracker-ai.json
{
  "updatedAt": "2026-01-11T15:23:05.322Z",
  "createdAt": "2026-01-11T14:26:16.440Z",
  "id": "KT5XD8izTksqezjsGyFUs",
  "name": "Diet Tracker AI",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "b5629834-5735-4e2e-be9e-f914fabc7975",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1yyzEaHtutDkcgwDgJAGyts5MJ-EqttI1eoAEPlxdUaM",
          "mode": "list",
          "cachedResultName": "Daily Diet Tracker (Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yyzEaHtutDkcgwDgJAGyts5MJ-EqttI1eoAEPlxdUaM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1859110796,
          "mode": "list",
          "cachedResultName": "Daily Diet Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yyzEaHtutDkcgwDgJAGyts5MJ-EqttI1eoAEPlxdUaM/edit#gid=1859110796"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        0
      ],
      "id": "5e614f15-3efc-49c4-a86e-ee9aa3cbeac0",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AaDTfoewRTDvJqmq",
          "name": "manaoghanzphilip@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "ddLogs",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        448,
        0
      ],
      "id": "a1791300-33cd-4721-ab4f-f7538949514b",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Below are the data about Hanz' dialy diet. Provide a helpful insight to align it based on his diet goals.\n\nDiet Data: {{ JSON.stringify($json.ddLogs) }}",
        "options": {
          "systemMessage": "You are a helpful diet assistant\n\nYour task is to create a plan and insights, based on the given information, to improve the diet health of Hanz.\n\nYou are allowed to use all the tools available to you to provide a factual, realistic and achievable response.\n\nMake your answers short and clear, Use emojis to make it lively"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        672,
        0
      ],
      "id": "382c18f9-b8ed-4616-8f42-30ce308fea77",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        680,
        224
      ],
      "id": "309d5198-6826-4839-a736-72f005e63e18",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "wZuLC2RdDp5qitbQ",
          "name": "manaoghanzphilip@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://hanzn8n.safehub-lcup.uk/mcp/dietTools",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        808,
        224
      ],
      "id": "9416d5c7-c68b-4aeb-a396-11ab195bf4e7",
      "name": "Diet Tools"
    },
    {
      "parameters": {
        "chatId": "7577088103",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1024,
        -80
      ],
      "id": "d8033171-052a-475a-bb87-8397275b1dde",
      "name": "Send a text message",
      "webhookId": "b6e53214-bf19-486e-af22-44a5f67d1968",
      "credentials": {
        "telegramApi": {
          "id": "3PdJ2P7lkZrNgmOx",
          "name": "DietTracker"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1yyzEaHtutDkcgwDgJAGyts5MJ-EqttI1eoAEPlxdUaM",
          "mode": "list",
          "cachedResultName": "Daily Diet Tracker (Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yyzEaHtutDkcgwDgJAGyts5MJ-EqttI1eoAEPlxdUaM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 785548924,
          "mode": "list",
          "cachedResultName": "Weekly AI Diet Insight",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yyzEaHtutDkcgwDgJAGyts5MJ-EqttI1eoAEPlxdUaM/edit#gid=785548924"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $json.Date }}",
            "AI Diet Insights": "={{ $json['AI Diet Insight'] }}"
          },
          "matchingColumns": [
            "output"
          ],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "AI Diet Insights",
              "displayName": "AI Diet Insights",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1056,
        80
      ],
      "id": "46469ac2-87da-4b8a-b678-3739448cd29c",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AaDTfoewRTDvJqmq",
          "name": "manaoghanzphilip@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ddbf3dca-7f0e-4d5a-9b02-cb1e223826a5",
              "name": "AI Diet Insight",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "3540e2d1-d86f-4cfd-b48d-a6b452c56a85",
              "name": "Date",
              "value": "={{ $today.format('MM-dd-yyyy') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1072,
        224
      ],
      "id": "9539614f-9ff8-4ea3-98b5-f1fc280247d6",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Diet Tools": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "a5fcb72e-6d91-4558-a3c7-615b42b1511c",
  "activeVersionId": "a5fcb72e-6d91-4558-a3c7-615b42b1511c",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-11T14:26:16.515Z",
      "createdAt": "2026-01-11T14:26:16.515Z",
      "role": "workflow:owner",
      "workflowId": "KT5XD8izTksqezjsGyFUs",
      "projectId": "kZBVJF2foTBqYjQ4"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-11T15:27:02.000Z",
    "createdAt": "2026-01-11T15:23:05.323Z",
    "versionId": "a5fcb72e-6d91-4558-a3c7-615b42b1511c",
    "workflowId": "KT5XD8izTksqezjsGyFUs",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "weeks",
                "triggerAtHour": 8
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          0,
          0
        ],
        "id": "b5629834-5735-4e2e-be9e-f914fabc7975",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1yyzEaHtutDkcgwDgJAGyts5MJ-EqttI1eoAEPlxdUaM",
            "mode": "list",
            "cachedResultName": "Daily Diet Tracker (Responses)",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yyzEaHtutDkcgwDgJAGyts5MJ-EqttI1eoAEPlxdUaM/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1859110796,
            "mode": "list",
            "cachedResultName": "Daily Diet Logs",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yyzEaHtutDkcgwDgJAGyts5MJ-EqttI1eoAEPlxdUaM/edit#gid=1859110796"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          224,
          0
        ],
        "id": "5e614f15-3efc-49c4-a86e-ee9aa3cbeac0",
        "name": "Get row(s) in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "AaDTfoewRTDvJqmq",
            "name": "manaoghanzphilip@gmail.com"
          }
        }
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "destinationFieldName": "ddLogs",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          448,
          0
        ],
        "id": "a1791300-33cd-4721-ab4f-f7538949514b",
        "name": "Aggregate"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Below are the data about Hanz' dialy diet. Provide a helpful insight to align it based on his diet goals.\n\nDiet Data: {{ JSON.stringify($json.ddLogs) }}",
          "options": {
            "systemMessage": "You are a helpful diet assistant\n\nYour task is to create a plan and insights, based on the given information, to improve the diet health of Hanz.\n\nYou are allowed to use all the tools available to you to provide a factual, realistic and achievable response.\n\nMake your answers short and clear, Use emojis to make it lively"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          672,
          0
        ],
        "id": "382c18f9-b8ed-4616-8f42-30ce308fea77",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          680,
          224
        ],
        "id": "309d5198-6826-4839-a736-72f005e63e18",
        "name": "Google Gemini Chat Model",
        "credentials": {
          "googlePalmApi": {
            "id": "wZuLC2RdDp5qitbQ",
            "name": "manaoghanzphilip@gmail.com"
          }
        }
      },
      {
        "parameters": {
          "endpointUrl": "https://hanzn8n.safehub-lcup.uk/mcp/dietTools",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
        "typeVersion": 1.2,
        "position": [
          808,
          224
        ],
        "id": "9416d5c7-c68b-4aeb-a396-11ab195bf4e7",
        "name": "Diet Tools"
      },
      {
        "parameters": {
          "chatId": "7577088103",
          "text": "={{ $json.output }}",
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "Markdown"
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1024,
          -80
        ],
        "id": "d8033171-052a-475a-bb87-8397275b1dde",
        "name": "Send a text message",
        "webhookId": "b6e53214-bf19-486e-af22-44a5f67d1968",
        "credentials": {
          "telegramApi": {
            "id": "3PdJ2P7lkZrNgmOx",
            "name": "DietTracker"
          }
        }
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1yyzEaHtutDkcgwDgJAGyts5MJ-EqttI1eoAEPlxdUaM",
            "mode": "list",
            "cachedResultName": "Daily Diet Tracker (Responses)",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yyzEaHtutDkcgwDgJAGyts5MJ-EqttI1eoAEPlxdUaM/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 785548924,
            "mode": "list",
            "cachedResultName": "Weekly AI Diet Insight",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yyzEaHtutDkcgwDgJAGyts5MJ-EqttI1eoAEPlxdUaM/edit#gid=785548924"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Date": "={{ $json.Date }}",
              "AI Diet Insights": "={{ $json['AI Diet Insight'] }}"
            },
            "matchingColumns": [
              "output"
            ],
            "schema": [
              {
                "id": "Date",
                "displayName": "Date",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "AI Diet Insights",
                "displayName": "AI Diet Insights",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          1056,
          80
        ],
        "id": "46469ac2-87da-4b8a-b678-3739448cd29c",
        "name": "Append row in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "AaDTfoewRTDvJqmq",
            "name": "manaoghanzphilip@gmail.com"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "ddbf3dca-7f0e-4d5a-9b02-cb1e223826a5",
                "name": "AI Diet Insight",
                "value": "={{ $json.output }}",
                "type": "string"
              },
              {
                "id": "3540e2d1-d86f-4cfd-b48d-a6b452c56a85",
                "name": "Date",
                "value": "={{ $today.format('MM-dd-yyyy') }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1072,
          224
        ],
        "id": "9539614f-9ff8-4ea3-98b5-f1fc280247d6",
        "name": "Edit Fields"
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Get row(s) in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s) in sheet": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Diet Tools": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            },
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Append row in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Hanz Philip Manaog",
    "name": "Version a5fcb72e",
    "description": "",
    "autosaved": false
  },
  "tags": []
}