n8nWorkflows/diet-tracker.json
{
  "updatedAt": "2026-01-05T15:55:36.704Z",
  "createdAt": "2026-01-05T06:19:51.052Z",
  "id": "ih2aLwE8g54hlFqI",
  "name": "Diet Tracker",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 21
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -272,
        -48
      ],
      "id": "f4de9db2-9459-48d4-9778-3bdef14dcd7f",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "chatId": "7577088103",
        "text": "=Good evening Hanz 💖\nIt is time to answer the daily diet tracker form 🍕\nHere's the link: https://forms.gle/atzbzEH1iMKjfbDf8",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -96,
        -48
      ],
      "id": "bebc95cd-66c8-493b-a7b0-dd0d8e8f682d",
      "name": "Send Daily Diet Tracker Form",
      "webhookId": "b5b3dd35-c76e-4f0a-af8f-072dda62a566",
      "credentials": {
        "telegramApi": {
          "id": "3PdJ2P7lkZrNgmOx",
          "name": "DietTracker"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1yyzEaHtutDkcgwDgJAGyts5MJ-EqttI1eoAEPlxdUaM",
          "mode": "list",
          "cachedResultName": "Daily Diet Tracker (Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yyzEaHtutDkcgwDgJAGyts5MJ-EqttI1eoAEPlxdUaM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1859110796,
          "mode": "list",
          "cachedResultName": "Daily Diet Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yyzEaHtutDkcgwDgJAGyts5MJ-EqttI1eoAEPlxdUaM/edit#gid=1859110796"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -288,
        160
      ],
      "id": "c96f2bd7-fec5-402f-a2f9-9ed5bb454a8e",
      "name": "Google Sheets Trigger",
      "executeOnce": false,
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "sxNSI3kRkJonbYy5",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ad997d2a-986e-4605-9a21-4655f77d9cfd",
              "leftValue": "={{ $json.SystemDate }}",
              "rightValue": "={{ $json.AnswerDate }}",
              "operator": {
                "type": "dateTime",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        240,
        160
      ],
      "id": "68349a24-6f7d-4a1d-8d4f-0f5e68eb3e1d",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "7577088103",
        "text": "=Your Response is recorded 👍.\nWoohoo 🥳 Goodjob Hanz, another day completed 😍\nHere's the summary of your response📃:\n  Breakfast: {{ $('Get row(s) in sheet').item.json['WHAT IS YOUR BREAKFAST?'] }} @ {{ $('Get row(s) in sheet').item.json['WHEN DID YOU TAKE BREAKFAST?'] }}\n  Lunch: {{ $('Get row(s) in sheet').item.json['WHAT IS YOUR LUNCH?'] }} @ {{ $('Get row(s) in sheet').item.json['WHEN DID YOU TAKE LUNCH?'] }}\n  Dinner: {{ $('Get row(s) in sheet').item.json['WHAT IS YOUR DINNER?'] }}  @ {{ $('Get row(s) in sheet').item.json['WHEN DID YOU TAKE DINNER?'] }}\n  Snacks: {{ $('Get row(s) in sheet').item.json['WHAT SNACK DID YOU EAT ASIDE FROM BREAKFAST, LUNCH AND DINNER?'] }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        144
      ],
      "id": "0fae99bd-621d-4047-ad2f-9138a438c30f",
      "name": "Send a text message",
      "webhookId": "ed6ecc13-e46d-432c-8ea7-1ddc9239251c",
      "credentials": {
        "telegramApi": {
          "id": "3PdJ2P7lkZrNgmOx",
          "name": "DietTracker"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1yyzEaHtutDkcgwDgJAGyts5MJ-EqttI1eoAEPlxdUaM",
          "mode": "list",
          "cachedResultName": "Daily Diet Tracker (Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yyzEaHtutDkcgwDgJAGyts5MJ-EqttI1eoAEPlxdUaM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1859110796,
          "mode": "list",
          "cachedResultName": "Daily Diet Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yyzEaHtutDkcgwDgJAGyts5MJ-EqttI1eoAEPlxdUaM/edit#gid=1859110796"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Timestamp",
              "lookupValue": "={{ DateTime.fromMillis(Math.round(($json.Timestamp - 25569) * 86400 * 1000), { zone: 'utc' }).toFormat('M/d/yyyy HH:mm:ss') }}"
            }
          ]
        },
        "options": {
          "outputFormatting": {
            "values": {
              "general": "UNFORMATTED_VALUE",
              "date": "FORMATTED_STRING"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -112,
        160
      ],
      "id": "442ac6f8-963a-4962-a6c6-f361732b405a",
      "name": "Get row(s) in sheet",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AaDTfoewRTDvJqmq",
          "name": "manaoghanzphilip@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5f8ad1b5-aed7-4f01-a29c-ea192f53a101",
              "name": "SystemDate",
              "value": "={{ $today.toISODate() }}",
              "type": "string"
            },
            {
              "id": "0cf377f7-1f33-422e-b7dc-6b3d5a359339",
              "name": "AnswerDate",
              "value": "={{ DateTime.fromFormat($json.Timestamp, 'M/d/yyyy HH:mm:ss').toISODate() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        160
      ],
      "id": "299102fc-6128-4a7e-9ef6-57c6e8340dce",
      "name": "Date Format"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Send Daily Diet Tracker Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Date Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date Format": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:Google Sheets Trigger": {
      "documentId": "1yyzEaHtutDkcgwDgJAGyts5MJ-EqttI1eoAEPlxdUaM",
      "sheetId": 1859110796,
      "lastRevision": 8,
      "lastRevisionLink": "https://docs.google.com/spreadsheets/export?id=1yyzEaHtutDkcgwDgJAGyts5MJ-EqttI1eoAEPlxdUaM&revision=8&exportFormat=xlsx"
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "066212cb-e928-4eee-8032-91cfd400ee0b",
  "activeVersionId": "066212cb-e928-4eee-8032-91cfd400ee0b",
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2026-01-05T06:19:51.056Z",
      "createdAt": "2026-01-05T06:19:51.056Z",
      "role": "workflow:owner",
      "workflowId": "ih2aLwE8g54hlFqI",
      "projectId": "kZBVJF2foTBqYjQ4"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-05T15:55:36.708Z",
    "createdAt": "2026-01-05T15:55:36.708Z",
    "versionId": "066212cb-e928-4eee-8032-91cfd400ee0b",
    "workflowId": "ih2aLwE8g54hlFqI",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 21
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -272,
          -48
        ],
        "id": "f4de9db2-9459-48d4-9778-3bdef14dcd7f",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "chatId": "7577088103",
          "text": "=Good evening Hanz 💖\nIt is time to answer the daily diet tracker form 🍕\nHere's the link: https://forms.gle/atzbzEH1iMKjfbDf8",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -96,
          -48
        ],
        "id": "bebc95cd-66c8-493b-a7b0-dd0d8e8f682d",
        "name": "Send Daily Diet Tracker Form",
        "webhookId": "b5b3dd35-c76e-4f0a-af8f-072dda62a566",
        "credentials": {
          "telegramApi": {
            "id": "3PdJ2P7lkZrNgmOx",
            "name": "DietTracker"
          }
        }
      },
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "documentId": {
            "__rl": true,
            "value": "1yyzEaHtutDkcgwDgJAGyts5MJ-EqttI1eoAEPlxdUaM",
            "mode": "list",
            "cachedResultName": "Daily Diet Tracker (Responses)",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yyzEaHtutDkcgwDgJAGyts5MJ-EqttI1eoAEPlxdUaM/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1859110796,
            "mode": "list",
            "cachedResultName": "Daily Diet Logs",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yyzEaHtutDkcgwDgJAGyts5MJ-EqttI1eoAEPlxdUaM/edit#gid=1859110796"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheetsTrigger",
        "typeVersion": 1,
        "position": [
          -288,
          160
        ],
        "id": "c96f2bd7-fec5-402f-a2f9-9ed5bb454a8e",
        "name": "Google Sheets Trigger",
        "executeOnce": false,
        "credentials": {
          "googleSheetsTriggerOAuth2Api": {
            "id": "sxNSI3kRkJonbYy5",
            "name": "Google Sheets Trigger account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "ad997d2a-986e-4605-9a21-4655f77d9cfd",
                "leftValue": "={{ $json.SystemDate }}",
                "rightValue": "={{ $json.AnswerDate }}",
                "operator": {
                  "type": "dateTime",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          240,
          160
        ],
        "id": "68349a24-6f7d-4a1d-8d4f-0f5e68eb3e1d",
        "name": "If"
      },
      {
        "parameters": {
          "chatId": "7577088103",
          "text": "=Your Response is recorded 👍.\nWoohoo 🥳 Goodjob Hanz, another day completed 😍\nHere's the summary of your response📃:\n  Breakfast: {{ $('Get row(s) in sheet').item.json['WHAT IS YOUR BREAKFAST?'] }} @ {{ $('Get row(s) in sheet').item.json['WHEN DID YOU TAKE BREAKFAST?'] }}\n  Lunch: {{ $('Get row(s) in sheet').item.json['WHAT IS YOUR LUNCH?'] }} @ {{ $('Get row(s) in sheet').item.json['WHEN DID YOU TAKE LUNCH?'] }}\n  Dinner: {{ $('Get row(s) in sheet').item.json['WHAT IS YOUR DINNER?'] }}  @ {{ $('Get row(s) in sheet').item.json['WHEN DID YOU TAKE DINNER?'] }}\n  Snacks: {{ $('Get row(s) in sheet').item.json['WHAT SNACK DID YOU EAT ASIDE FROM BREAKFAST, LUNCH AND DINNER?'] }}",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          448,
          144
        ],
        "id": "0fae99bd-621d-4047-ad2f-9138a438c30f",
        "name": "Send a text message",
        "webhookId": "ed6ecc13-e46d-432c-8ea7-1ddc9239251c",
        "credentials": {
          "telegramApi": {
            "id": "3PdJ2P7lkZrNgmOx",
            "name": "DietTracker"
          }
        }
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1yyzEaHtutDkcgwDgJAGyts5MJ-EqttI1eoAEPlxdUaM",
            "mode": "list",
            "cachedResultName": "Daily Diet Tracker (Responses)",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yyzEaHtutDkcgwDgJAGyts5MJ-EqttI1eoAEPlxdUaM/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1859110796,
            "mode": "list",
            "cachedResultName": "Daily Diet Logs",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yyzEaHtutDkcgwDgJAGyts5MJ-EqttI1eoAEPlxdUaM/edit#gid=1859110796"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "Timestamp",
                "lookupValue": "={{ DateTime.fromMillis(Math.round(($json.Timestamp - 25569) * 86400 * 1000), { zone: 'utc' }).toFormat('M/d/yyyy HH:mm:ss') }}"
              }
            ]
          },
          "options": {
            "outputFormatting": {
              "values": {
                "general": "UNFORMATTED_VALUE",
                "date": "FORMATTED_STRING"
              }
            }
          }
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -112,
          160
        ],
        "id": "442ac6f8-963a-4962-a6c6-f361732b405a",
        "name": "Get row(s) in sheet",
        "executeOnce": true,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "AaDTfoewRTDvJqmq",
            "name": "manaoghanzphilip@gmail.com"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "5f8ad1b5-aed7-4f01-a29c-ea192f53a101",
                "name": "SystemDate",
                "value": "={{ $today.toISODate() }}",
                "type": "string"
              },
              {
                "id": "0cf377f7-1f33-422e-b7dc-6b3d5a359339",
                "name": "AnswerDate",
                "value": "={{ DateTime.fromFormat($json.Timestamp, 'M/d/yyyy HH:mm:ss').toISODate() }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          64,
          160
        ],
        "id": "299102fc-6128-4a7e-9ef6-57c6e8340dce",
        "name": "Date Format"
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Send Daily Diet Tracker Form",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Sheets Trigger": {
        "main": [
          [
            {
              "node": "Get row(s) in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s) in sheet": {
        "main": [
          [
            {
              "node": "Date Format",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Date Format": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Hanz Philip Manaog",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": []
}