n8nWorkflows/error-log.json
{
  "updatedAt": "2025-07-14T07:28:32.000Z",
  "createdAt": "2025-07-14T07:02:02.812Z",
  "id": "X7KwLzwsgWIkSzBo",
  "name": "ERROR LOG",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -320,
        -20
      ],
      "id": "6d41d85b-d651-416b-9a5d-6ddeccc382bb",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1yTN1WBDL5UBFjIMOeKZIaPKRThe9chIwbFTfPplrbZw",
          "mode": "list",
          "cachedResultName": "WORKFLOW ERROR LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yTN1WBDL5UBFjIMOeKZIaPKRThe9chIwbFTfPplrbZw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "errors",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yTN1WBDL5UBFjIMOeKZIaPKRThe9chIwbFTfPplrbZw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{$now.format('LLL dd, yyyy, hh:mma')}}",
            "Workflow": "={{ $json.workflow.name }}",
            "URL": "={{ $json.execution.url }}",
            "Node": "={{ $json.execution.lastNodeExecuted }}",
            "Error Message": "={{ $json.execution.error.message }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Workflow",
              "displayName": "Workflow",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Node",
              "displayName": "Node",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error Message",
              "displayName": "Error Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -80,
        -120
      ],
      "id": "82efb3cf-4652-4c43-8e3b-910482dc50d8",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AaDTfoewRTDvJqmq",
          "name": "manaoghanzphilip@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7577088103",
        "text": "=⚠️ WORKFLOW ERROR: {{ $json.workflow.name }}\n{{ $json.workflow.name }} encountered an error in {{ $json.execution.lastNodeExecuted }} at {{ $now.format('LLL dd, yyyy, hh:mma') }}\n📎URL: {{ $json.execution.url }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -80,
        100
      ],
      "id": "67f36a34-be02-4333-96dd-824cbc993888",
      "name": "error message",
      "webhookId": "e2234f99-923c-4336-8269-a1a22d0ddcb3",
      "credentials": {
        "telegramApi": {
          "id": "xAR03zieJX7sa85l",
          "name": "Ai Assistant"
        }
      }
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "error message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "d28cfb29-48ce-42c0-8e3e-ba611189678e",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-07-14T07:02:02.818Z",
      "createdAt": "2025-07-14T07:02:02.818Z",
      "role": "workflow:owner",
      "workflowId": "X7KwLzwsgWIkSzBo",
      "projectId": "kZBVJF2foTBqYjQ4"
    }
  ],
  "activeVersion": null,
  "tags": []
}