n8nWorkflows/github_repo_workflows_sync.json
{
  "createdAt": "2025-09-26T05:23:32.321Z",
  "updatedAt": "2025-10-11T13:44:34.000Z",
  "id": "cSC0VAQcHiRB4rIl",
  "name": "github_repo_workflows_sync",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -208,
        48
      ],
      "id": "2e90e111-594c-477b-8033-a15493ceeb1a",
      "name": "Get many workflows",
      "credentials": {
        "n8nApi": {
          "id": "gku22QKSzhtBldGE",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        0,
        48
      ],
      "id": "422acf26-a259-4256-a70f-5564e9b9d6a4",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "delete",
        "owner": {
          "__rl": true,
          "value": "philip-dman",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8nWorkflows",
          "mode": "list",
          "cachedResultName": "n8nWorkflows",
          "cachedResultUrl": "https://github.com/philip-dman/n8nWorkflows"
        },
        "filePath": "={{ $json.name }}",
        "commitMessage": "=Delete {{ $json.name }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        240,
        64
      ],
      "id": "a74be2dd-8e29-46dc-b0de-022ee8fae57c",
      "name": "Delete a file",
      "webhookId": "d7007549-7a9e-4891-b2e2-2297759cbc60",
      "credentials": {
        "githubOAuth2Api": {
          "id": "SbjPMHN0q4cO5MNL",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "create",
        "workflowObject": "={{ $json.toJsonString()  }}",
        "requestOptions": {}
      },
      "id": "19c25d11-49d6-4a5e-8864-684c3c638d9e",
      "name": "Create new workflow in n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        -464,
        2800
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "gku22QKSzhtBldGE",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.github_account_name }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.github_repo_name }}"
        },
        "filePath": "=/{{ $json.github_repo_name }}"
      },
      "id": "29da4574-d49b-404b-90d0-42fd61cf2150",
      "name": "List files from repo",
      "type": "n8n-nodes-base.github",
      "position": [
        -1840,
        2416
      ],
      "webhookId": "0614066f-212d-4f9e-9da2-fa4a80b44baf",
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "githubOAuth2Api": {
          "id": "SbjPMHN0q4cO5MNL",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set GitHub Details').item.json.github_account_name }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set GitHub Details').item.json.github_repo_name }}"
        },
        "filePath": "={{ $json.path }}",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "fb09b0c5-7172-4f58-928f-40c36c2f5397",
      "name": "GitHub",
      "type": "n8n-nodes-base.github",
      "position": [
        -1392,
        2416
      ],
      "webhookId": "71ad7d84-99cd-4fbd-a365-52537e69525b",
      "typeVersion": 1.1,
      "credentials": {
        "githubOAuth2Api": {
          "id": "SbjPMHN0q4cO5MNL",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "8a101336-2158-40b7-a2ce-91b0d5c6c19c",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        -1616,
        2208
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "gku22QKSzhtBldGE",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "={{ $json.githubAccName }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $json.githubRepoName }}",
          "mode": "name"
        },
        "filePath": "={{ $json.githubRepoName }}/{{ $node['Edit for Upload'].json.fileName }}",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=n8n_backup_sync-{{ $node['Edit for Upload'].json.commitDate }}",
        "additionalParameters": {
          "branch": {
            "branch": "main"
          }
        }
      },
      "id": "159efabc-a1a1-4b20-b160-530445e07406",
      "name": "Upload file",
      "type": "n8n-nodes-base.github",
      "position": [
        208,
        1936
      ],
      "webhookId": "ce4b561b-acb9-4cd8-b76f-4928dada9674",
      "typeVersion": 1,
      "credentials": {
        "githubOAuth2Api": {
          "id": "SbjPMHN0q4cO5MNL",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true
        }
      },
      "id": "79730944-3790-49f5-8bb9-4f45c1c2b4cd",
      "name": "Json file",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        -464,
        1936
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "903e34cc-8a4c-4867-9077-dd5641a92142",
      "name": "To base64",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        -240,
        1936
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## CHECK WHICH IS NEWER\n\n**IF TRUE** github workflow is the most recent, n8n to be updated\n\n**IF FALSE** n8n workflow is the most recent, github to be updated\n\n",
        "height": 400,
        "width": 340,
        "color": 3
      },
      "id": "0259e1d8-31f0-419e-bc50-6ea8c4e21d3b",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -576,
        2192
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "={{ $json.githubAccName }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $json.githubRepoName }}",
          "mode": "name"
        },
        "filePath": "={{ $json.githubRepoName }}/{{ $node['Edit for Update'].json.fileName }}",
        "fileContent": "={{ $('To base').item.json.data }}",
        "commitMessage": "=n8n_backup_sync-{{ $('Edit for Update').item.json.commitDate }}"
      },
      "id": "d11b7548-d57c-4bc4-8bda-229aa991bb0c",
      "name": "Update file",
      "type": "n8n-nodes-base.github",
      "position": [
        1024,
        2576
      ],
      "webhookId": "27218087-8df7-474d-a39f-70cfa9c34ec8",
      "typeVersion": 1,
      "credentials": {
        "githubOAuth2Api": {
          "id": "SbjPMHN0q4cO5MNL",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true
        }
      },
      "id": "3bcd1468-0a36-4bd5-b7ec-4f199e8de971",
      "name": "Json file1",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        368,
        2576
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "fa7b9b69-7817-4a65-8982-109d67f3d37b",
      "name": "To base",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        592,
        2576
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "id",
              "field2": "id"
            }
          ]
        },
        "options": {}
      },
      "id": "1ec9f025-624f-45c3-8f27-02042b1bd9b6",
      "name": "n8n vs GitHub",
      "type": "n8n-nodes-base.compareDatasets",
      "position": [
        -944,
        2288
      ],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "operation": "update",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.dataset.id }}"
        },
        "workflowObject": "={{ $json.dataset.toJsonString() }}",
        "requestOptions": {}
      },
      "id": "190d38f7-36a9-4c87-8239-368dfd4d3c8b",
      "name": "Update workflow in n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        144,
        2320
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "gku22QKSzhtBldGE",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Get the desired workflow name\nworkflow_id = _('If n8n before GitHub').first().json['same']['id']\n\n# Get all decoded workflow items\nall_decoded = _('Decode to json').all()\n\n# Filter for the matching one\nmatched = [\n    item.json \n    for item in all_decoded \n    if item.json.get('id') == workflow_id\n]\n\n# If there's a match, return it (or empty if none)\nif matched:\n    return [{'json': {'dataset': matched[0]}}]\nelse:\n    return []\n"
      },
      "id": "b972210a-cb5a-4a0f-ad18-3cd7684c4431",
      "name": "Code - InputB",
      "type": "n8n-nodes-base.code",
      "position": [
        -80,
        2320
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Get the desired workflow name\nworkflow_id = _('If n8n before GitHub').first().json['same']['id']\n\n# Get all decoded workflow items\nall_decoded = _('n8n').all()\n\n# Filter for the matching one\nmatched = [\n    item.json \n    for item in all_decoded \n    if item.json.get('id') == workflow_id\n]\n\n# If there's a match, return it (or empty if none)\nif matched:\n    return [{'json': {'dataset': matched[0]}}]\nelse:\n    return []\n"
      },
      "id": "ef8e0778-b7fb-4e6e-ae8a-06d15c23ec46",
      "name": "Code - InputA",
      "type": "n8n-nodes-base.code",
      "position": [
        -80,
        2576
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.dataset }}",
        "options": {}
      },
      "id": "92cad45c-944c-4969-8117-4fda6d478f49",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        144,
        2576
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
              "name": "commitDate",
              "type": "string",
              "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
            },
            {
              "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
              "name": "fileName",
              "type": "string",
              "value": "={{$('n8n vs GitHub').item.json.name\n.trim().replace(/\\s+/g, '-').toLowerCase()\n}}.json"
            },
            {
              "id": "e4b76c3d-e11c-4962-955d-232d6d3debd2",
              "name": "githubAccName",
              "value": "philip-dman",
              "type": "string"
            },
            {
              "id": "34bdb31d-7555-4151-8aa5-39caf35daa05",
              "name": "githubRepoName",
              "value": "n8nWorkflows",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d935a69b-1ca7-4d01-9340-ec4f1f0c10ec",
      "name": "Edit for Upload",
      "type": "n8n-nodes-base.set",
      "position": [
        -16,
        1936
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
              "name": "commitDate",
              "type": "string",
              "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
            },
            {
              "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
              "name": "fileName",
              "type": "string",
              "value": "={{\n$('Code - InputA').item.json.dataset.name.trim().replace(/\\s+/g, '-').toLowerCase()\n}}.json"
            },
            {
              "id": "de7896e8-b90b-4102-8cbc-fe360ca5ac37",
              "name": "githubAccName",
              "value": "philip-dman",
              "type": "string"
            },
            {
              "id": "07a0546e-be77-4dec-801c-78e794dfe3f2",
              "name": "githubRepoName",
              "value": "n8nWorkflows",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f9464e9c-16c8-460b-8cb4-34de3507dc5e",
      "name": "Edit for Update",
      "type": "n8n-nodes-base.set",
      "position": [
        816,
        2576
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "## IF ONLY IN N8N\nUpdate GitHub with the relevant workflows",
        "height": 320,
        "width": 1000
      },
      "id": "5a2f7488-3a7b-4516-808b-4daa4980741f",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -576,
        1808
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## IF ONLY IN GITHUB\nCreate new workflow in n8n",
        "height": 340,
        "width": 340,
        "color": 6
      },
      "id": "387f1be3-6c7e-490c-ac31-0d91686b6979",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -576,
        2656
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "8ccf743b-3a66-44c0-a30b-72a1d4bcf60b",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              },
              "leftValue": "={{ $json.different.updatedAt.inputA }}",
              "rightValue": "={{ $json.different.updatedAt.inputB }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ede77647-5f88-4bbb-a297-fa78b9efbad0",
      "name": "If n8n before GitHub",
      "type": "n8n-nodes-base.if",
      "position": [
        -464,
        2416
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{  $json.content.base64Decode() }}",
        "options": {}
      },
      "id": "4a93b533-06c6-43d2-93e0-352946c2d25a",
      "name": "Decode to json",
      "type": "n8n-nodes-base.set",
      "position": [
        -1184,
        2416
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "b9ed0bad-4ebe-4378-807e-1a6082c4461d",
              "operator": {
                "type": "string",
                "operation": "notContains"
              },
              "leftValue": "={{ $json.name }}",
              "rightValue": "placeholder"
            }
          ]
        },
        "options": {}
      },
      "id": "0eeaf3b9-2f32-493d-b1a4-ac6e3e8b80a2",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "position": [
        -1616,
        2416
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "850e7497-0f2f-470e-a5a2-a85a0c12aaa2",
              "name": "github_account_name",
              "type": "string",
              "value": "philip-dman"
            },
            {
              "id": "5c2be15a-cb93-4fe4-a512-03a1880b8713",
              "name": "github_repo_name",
              "type": "string",
              "value": "n8nWorkflows"
            }
          ]
        },
        "options": {}
      },
      "id": "57e9cd0a-d3b1-4277-9425-2792ff386e13",
      "name": "Set GitHub Details",
      "type": "n8n-nodes-base.set",
      "position": [
        -2240,
        2288
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "79b24b4b-147f-4937-be68-4d2a2e087fcf",
      "name": "Schedule Trigger1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -2464,
        2288
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -368,
        48
      ],
      "id": "c49e034c-a754-4831-b2ee-691ce9ef1a5d",
      "name": "When clicking ‘Execute workflow’",
      "disabled": true
    }
  ],
  "connections": {
    "Get many workflows": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Delete a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n": {
      "main": [
        [
          {
            "node": "n8n vs GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "Decode to json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To base": {
      "main": [
        [
          {
            "node": "Edit for Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Json file": {
      "main": [
        [
          {
            "node": "To base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To base64": {
      "main": [
        [
          {
            "node": "Edit for Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Json file1": {
      "main": [
        [
          {
            "node": "To base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Json file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - InputA": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - InputB": {
      "main": [
        [
          {
            "node": "Update workflow in n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n vs GitHub": {
      "main": [
        [
          {
            "node": "Json file",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "If n8n before GitHub",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create new workflow in n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode to json": {
      "main": [
        [
          {
            "node": "n8n vs GitHub",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit for Update": {
      "main": [
        [
          {
            "node": "Update file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit for Upload": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set GitHub Details": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          },
          {
            "node": "List files from repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If n8n before GitHub": {
      "main": [
        [
          {
            "node": "Code - InputB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code - InputA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files from repo": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Set GitHub Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get many workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:Schedule Trigger1": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "e8744f10-8213-4c0d-969f-aa2c2633a135",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-09-26T05:23:32.324Z",
      "updatedAt": "2025-09-26T05:23:32.324Z",
      "role": "workflow:owner",
      "workflowId": "cSC0VAQcHiRB4rIl",
      "projectId": "kZBVJF2foTBqYjQ4"
    }
  ],
  "tags": []
}