n8nWorkflows/gmail-bot-v2.json
{
  "updatedAt": "2025-10-09T08:25:33.000Z",
  "createdAt": "2025-07-12T06:25:38.414Z",
  "id": "aTt4dfywS0uvNDvu",
  "name": "GMAIL BOT v2",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -448,
        160
      ],
      "id": "0fcc33c1-bbe8-4b46-a868-15be91192e97",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "SQjQESRGfbvsewnr",
          "name": "manaoghanzphilip@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<sender>\n{{ $json.From }}\n</sender>\n<receiver>\n{{ $json.To }}\n</receiver>\n<messageid>\n{{ $json.id }}\n</messageid>\n<body>\n{{ $json.snippet }}\n</body>\n<labelfrom>\n{{ $json.labels[0].id }}\n</labelfrom>",
        "options": {
          "systemMessage": "You are a helpful gmail assistant\n\nYour task is to label message properly (Personal, Services & Subscriptions, Work & Study).\nRemove message from Inbox afterwards\n\nUse all the tools you have when needed, don't hallucinate"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        208,
        160
      ],
      "id": "f0835e09-7065-461f-8b53-ce94e8f660a5",
      "name": "AI Agent",
      "retryOnFail": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        112,
        368
      ],
      "id": "0db84024-4446-46d1-a529-760330032769",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "wZuLC2RdDp5qitbQ",
          "name": "manaoghanzphilip@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7577088103",
        "text": "={{ $json.output.rendered_message }}",
        "additionalFields": {
          "appendAttribution": false,
          "disable_notification": true,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        528,
        160
      ],
      "id": "539f13ac-bd08-4f6e-909d-57ff78c00953",
      "name": "Send a text message",
      "webhookId": "4e1f419f-a6ee-4b32-8a35-67e1f10e4479",
      "credentials": {
        "telegramApi": {
          "id": "xAR03zieJX7sa85l",
          "name": "Ai Assistant"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "sseEndpoint": "https://hanzn8n.safehub-lcup.uk/mcp/gmail",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        368,
        368
      ],
      "id": "d1918c15-52d1-49c0-8ff8-2d5e391b3e82",
      "name": "gmail tools"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"message_format\": \"<b>{receiver}</b> your email from <b>{sender}</b> is moved to <b>{label}</b> removed from <b>{inbox}</b>\",\n  \"example_data\": {\n    \"receiver\": \"manaoghanzphilip@gmail.com\",\n    \"sender\": \"john.doe@example.com\",\n    \"label\": \"Important\",\n    \"inbox\": \"Primary\"\n  },\n  \"rendered_message\": \"<b>manaoghanzphilip@gmail.com</b> your email from <b>john.doe@example.com</b> is moved to <b>Important</b> removed from <b>Primary</b>\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        480,
        368
      ],
      "id": "95451871-7c8d-47ab-8d54-b45155bca4b3",
      "name": "Structured Output Parser",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 10,
        "filters": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -304,
        160
      ],
      "id": "fa481735-553c-454a-9574-7d41df64573d",
      "name": "Get many messages",
      "webhookId": "f739dbff-f2ba-4bd5-b92b-b41568242445",
      "credentials": {
        "gmailOAuth2": {
          "id": "SQjQESRGfbvsewnr",
          "name": "manaoghanzphilip@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "2cdbe540-9d53-47b4-8f33-beca0013ab94",
              "leftValue": "={{ $json.totalItemsCount }}",
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -144,
        384
      ],
      "id": "3e2fbfd3-6926-48fa-bf61-6b3b62ea9457",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "// The 'items' variable is an array of all input items.\nconst totalItems = items.length;\n\n// Map over each item to add the new variables\nconst processedItems = items.map((item, index) => {\n  // Create a deep copy of the item's JSON data to avoid modifying the original\n  // and ensure each item is distinct.\n  const newItemJson = JSON.parse(JSON.stringify(item.json));\n\n  // Add the incremental count (1-based)\n  newItemJson.itemCount = index + 1;\n\n  // Add the total count of items in the batch\n  newItemJson.totalItemsCount = totalItems;\n\n  // Return the modified item\n  return {\n    json: newItemJson\n  };\n});\n\n// Return the array of all processed items\nreturn processedItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        384
      ],
      "id": "605c7dd1-c607-413e-8753-879671de3530",
      "name": "Code"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "144e1e93-e713-4daa-83f5-8bf322f25b53",
              "leftValue": "={{ $json.itemCount }}",
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        0,
        160
      ],
      "id": "546cfb4e-6775-4026-9f22-bb10604e904c",
      "name": "Filter"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Filter').item.json.itemCount }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        240,
        368
      ],
      "id": "918b7593-7927-4077-a085-d407c2d5443c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        544,
        480
      ],
      "id": "0d0133cf-3a42-4498-b557-0e5c8bedb87b",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "wZuLC2RdDp5qitbQ",
          "name": "manaoghanzphilip@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "content": "## GMAIL INBOX SORTER",
        "height": 660,
        "width": 1280,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -496,
        32
      ],
      "typeVersion": 1,
      "id": "8d9d8156-15fa-4205-9dd2-d869146369c0",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -448,
        880
      ],
      "id": "b23debe9-2e50-4f07-a081-4ca8adc70a86",
      "name": "Gmail Trigger1",
      "credentials": {
        "gmailOAuth2": {
          "id": "KnabIph0yBl2wWR3",
          "name": "hanzmanaog101@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<sender>\n{{ $json.From }}\n</sender>\n<receiver>\n{{ $json.To }}\n</receiver>\n<messageid>\n{{ $json.id }}\n</messageid>\n<body>\n{{ $json.snippet }}\n</body>\n<labelfrom>\n{{ $json.labels[0].id }}\n</labelfrom>",
        "options": {
          "systemMessage": "You are a helpful gmail assistant\n\nYour task is to label message properly (Personal, Services & Subscriptions, Work & Study).\nRemove message from Inbox afterwards\n\nUse all the tools you have when needed, don't hallucinate"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        208,
        880
      ],
      "id": "9ebccf33-56cf-4b27-bda4-35f1aceca192",
      "name": "AI Agent1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        144,
        1088
      ],
      "id": "1c8835b4-e4cc-407e-bef2-781e48088268",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "TVGhdsUO5gawa727",
          "name": "hanzmanaog101@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7577088103",
        "text": "={{ $json.output.rendered_message }}",
        "additionalFields": {
          "appendAttribution": false,
          "disable_notification": true,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        528,
        880
      ],
      "id": "8f9a2078-d0ad-4268-8c87-9376e2811dfc",
      "name": "Send a text message1",
      "webhookId": "4e1f419f-a6ee-4b32-8a35-67e1f10e4479",
      "credentials": {
        "telegramApi": {
          "id": "xAR03zieJX7sa85l",
          "name": "Ai Assistant"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "sseEndpoint": "https://hanzn8n.safehub-lcup.uk/mcp/gmail1",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        368,
        1088
      ],
      "id": "2c9c3e55-5e21-4134-a871-267d504f2ea9",
      "name": "gmail tools1"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"message_format\": \"<b>{receiver}</b> your email from <b>{sender}</b> is moved to <b>{label}</b> removed from <b>{inbox}</b>\",\n  \"example_data\": {\n    \"receiver\": \"manaoghanzphilip@gmail.com\",\n    \"sender\": \"john.doe@example.com\",\n    \"label\": \"Important\",\n    \"inbox\": \"Primary\"\n  },\n  \"rendered_message\": \"<b>manaoghanzphilip@gmail.com</b> your email from <b>john.doe@example.com</b> is moved to <b>Important</b> removed from <b>Primary</b>\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        480,
        1088
      ],
      "id": "ed6202bc-2db0-4c0e-97a1-69ffc6e23b7d",
      "name": "Structured Output Parser1",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 10,
        "filters": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -304,
        880
      ],
      "id": "fee15268-c52e-45a9-ae4b-41e1fd4f9359",
      "name": "Get many messages1",
      "webhookId": "f739dbff-f2ba-4bd5-b92b-b41568242445",
      "credentials": {
        "gmailOAuth2": {
          "id": "KnabIph0yBl2wWR3",
          "name": "hanzmanaog101@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "2cdbe540-9d53-47b4-8f33-beca0013ab94",
              "leftValue": "={{ $json.totalItemsCount }}",
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -144,
        1104
      ],
      "id": "40f3871f-5aea-4ec0-8eab-7e36e825f4bf",
      "name": "If1"
    },
    {
      "parameters": {
        "jsCode": "// The 'items' variable is an array of all input items.\nconst totalItems = items.length;\n\n// Map over each item to add the new variables\nconst processedItems = items.map((item, index) => {\n  // Create a deep copy of the item's JSON data to avoid modifying the original\n  // and ensure each item is distinct.\n  const newItemJson = JSON.parse(JSON.stringify(item.json));\n\n  // Add the incremental count (1-based)\n  newItemJson.itemCount = index + 1;\n\n  // Add the total count of items in the batch\n  newItemJson.totalItemsCount = totalItems;\n\n  // Return the modified item\n  return {\n    json: newItemJson\n  };\n});\n\n// Return the array of all processed items\nreturn processedItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        1104
      ],
      "id": "15c2fcbc-d385-454b-bb14-ef82dee43550",
      "name": "Code1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "144e1e93-e713-4daa-83f5-8bf322f25b53",
              "leftValue": "={{ $json.itemCount }}",
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        0,
        880
      ],
      "id": "cc8347fb-a551-4f37-85f2-487bd31aefce",
      "name": "Filter1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Filter1').item.json.itemCount }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        240,
        1088
      ],
      "id": "c15ac0e8-94ce-49f8-9c56-6badc984edcc",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash-8b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        544,
        1200
      ],
      "id": "bef4da38-b456-47d6-b793-1dd915416024",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "TVGhdsUO5gawa727",
          "name": "hanzmanaog101@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "content": "## GMAIL INBOX SORTER",
        "height": 660,
        "width": 1280
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -496,
        752
      ],
      "typeVersion": 1,
      "id": "d1c838d5-c122-4ce6-b182-5f00ebbf27ab",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -448,
        1600
      ],
      "id": "e51e51ee-7032-4655-8833-cdcafba77df6",
      "name": "Gmail Trigger2",
      "credentials": {
        "gmailOAuth2": {
          "id": "nDZ7cParZGSPezD9",
          "name": "hanzphilip.manaog@email.lcup.edu.ph"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<sender>\n{{ $json.From }}\n</sender>\n<receiver>\n{{ $json.To }}\n</receiver>\n<messageid>\n{{ $json.id }}\n</messageid>\n<body>\n{{ $json.snippet }}\n</body>\n<labelfrom>\n{{ $json.labels[0].id }}\n</labelfrom>",
        "options": {
          "systemMessage": "You are a helpful gmail assistant\n\nYour task is to label message properly (Personal, Services & Subscriptions, Work & Study).\nRemove message from Inbox afterwards\n\nUse all the tools you have when needed, don't hallucinate"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        208,
        1600
      ],
      "id": "72f613eb-b60f-43b2-9162-216fc3270f5f",
      "name": "AI Agent2",
      "retryOnFail": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        144,
        1808
      ],
      "id": "91697f42-a32f-4dcf-bb37-ca2a1c50ff0e",
      "name": "Google Gemini Chat Model4",
      "credentials": {
        "googlePalmApi": {
          "id": "CIweFG2VpXvbqixT",
          "name": "hanzphilip.manaog@email.lcup.edu.ph"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7577088103",
        "text": "={{ $json.output.rendered_message }}",
        "additionalFields": {
          "appendAttribution": false,
          "disable_notification": true,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        528,
        1600
      ],
      "id": "5675ca89-a226-4263-bfaa-538a02c00f49",
      "name": "Send a text message2",
      "webhookId": "4e1f419f-a6ee-4b32-8a35-67e1f10e4479",
      "credentials": {
        "telegramApi": {
          "id": "xAR03zieJX7sa85l",
          "name": "Ai Assistant"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "sseEndpoint": "https://hanzn8n.safehub-lcup.uk/mcp/gmail2",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        368,
        1808
      ],
      "id": "af3a0896-1743-400f-b589-0b5fb475ef32",
      "name": "gmail tools2"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"message_format\": \"<b>{receiver}</b> your email from <b>{sender}</b> is moved to <b>{label}</b> removed from <b>{inbox}</b>\",\n  \"example_data\": {\n    \"receiver\": \"manaoghanzphilip@gmail.com\",\n    \"sender\": \"john.doe@example.com\",\n    \"label\": \"Important\",\n    \"inbox\": \"Primary\"\n  },\n  \"rendered_message\": \"<b>manaoghanzphilip@gmail.com</b> your email from <b>john.doe@example.com</b> is moved to <b>Important</b> removed from <b>Primary</b>\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        480,
        1808
      ],
      "id": "403d22e0-3579-4602-ba06-2e98fbeb4178",
      "name": "Structured Output Parser2",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 10,
        "filters": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -304,
        1600
      ],
      "id": "195862c5-1da1-400e-81d7-59abf448e9b0",
      "name": "Get many messages2",
      "webhookId": "f739dbff-f2ba-4bd5-b92b-b41568242445",
      "credentials": {
        "gmailOAuth2": {
          "id": "nDZ7cParZGSPezD9",
          "name": "hanzphilip.manaog@email.lcup.edu.ph"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "2cdbe540-9d53-47b4-8f33-beca0013ab94",
              "leftValue": "={{ $json.totalItemsCount }}",
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -144,
        1824
      ],
      "id": "f193289a-4769-403d-b7b0-64abd1e17d9c",
      "name": "If2"
    },
    {
      "parameters": {
        "jsCode": "// The 'items' variable is an array of all input items.\nconst totalItems = items.length;\n\n// Map over each item to add the new variables\nconst processedItems = items.map((item, index) => {\n  // Create a deep copy of the item's JSON data to avoid modifying the original\n  // and ensure each item is distinct.\n  const newItemJson = JSON.parse(JSON.stringify(item.json));\n\n  // Add the incremental count (1-based)\n  newItemJson.itemCount = index + 1;\n\n  // Add the total count of items in the batch\n  newItemJson.totalItemsCount = totalItems;\n\n  // Return the modified item\n  return {\n    json: newItemJson\n  };\n});\n\n// Return the array of all processed items\nreturn processedItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        1824
      ],
      "id": "3754ce88-6693-4ce9-8094-61236b8b4027",
      "name": "Code2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "144e1e93-e713-4daa-83f5-8bf322f25b53",
              "leftValue": "={{ $json.itemCount }}",
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        0,
        1600
      ],
      "id": "9658d5c1-3fe2-49f7-a299-33d1783fa372",
      "name": "Filter2"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Filter2').item.json.itemCount }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        240,
        1808
      ],
      "id": "7104be12-0331-4700-a0a9-25b00de74b78",
      "name": "Simple Memory2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        544,
        1920
      ],
      "id": "494e3247-0904-4955-8198-2be2ebdb06d3",
      "name": "Google Gemini Chat Model5",
      "credentials": {
        "googlePalmApi": {
          "id": "CIweFG2VpXvbqixT",
          "name": "hanzphilip.manaog@email.lcup.edu.ph"
        }
      }
    },
    {
      "parameters": {
        "content": "## GMAIL INBOX SORTER",
        "height": 660,
        "width": 1280,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -496,
        1472
      ],
      "typeVersion": 1,
      "id": "0223f964-1945-4734-9943-14350ddc8e5d",
      "name": "Sticky Note2"
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gmail tools": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        []
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger1": {
      "main": [
        [
          {
            "node": "Get many messages1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "gmail tools1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        []
      ]
    },
    "Get many messages1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger2": {
      "main": [
        [
          {
            "node": "Get many messages2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "gmail tools2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        []
      ]
    },
    "Get many messages2": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Filter2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter2": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "X7KwLzwsgWIkSzBo"
  },
  "staticData": {
    "node:Gmail Trigger": {
      "Gmail Trigger": {
        "lastTimeChecked": 1763377899,
        "possibleDuplicates": [
          "19a9183706b91960",
          "19a90f8b48c235e1"
        ]
      }
    },
    "node:Gmail Trigger1": {
      "Gmail Trigger1": {
        "lastTimeChecked": 1763371998,
        "possibleDuplicates": [
          "19a91296d9cd9b36"
        ]
      }
    },
    "node:Gmail Trigger2": {
      "Gmail Trigger2": {
        "lastTimeChecked": 1761566764,
        "possibleDuplicates": [
          "19810f4170337a4e"
        ]
      }
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "b404bf10-4584-4293-86ed-8b14f2eb6797",
  "triggerCount": 3,
  "shared": [
    {
      "updatedAt": "2025-07-12T06:25:38.418Z",
      "createdAt": "2025-07-12T06:25:38.418Z",
      "role": "workflow:owner",
      "workflowId": "aTt4dfywS0uvNDvu",
      "projectId": "kZBVJF2foTBqYjQ4"
    }
  ],
  "tags": []
}