n8nWorkflows/my-tg-assistant-v2.json
{
  "createdAt": "2025-07-14T09:53:31.588Z",
  "updatedAt": "2025-09-26T05:22:32.000Z",
  "id": "BQV07S67dkKXyQhu",
  "name": "MY TG ASSISTANT V2",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -640,
        -100
      ],
      "id": "ef8577c7-9103-452f-b374-39c22d5cebd1",
      "name": "Telegram Trigger",
      "webhookId": "49176413-ce1a-4e33-a323-5e19a4b29711",
      "credentials": {
        "telegramApi": {
          "id": "xAR03zieJX7sa85l",
          "name": "Ai Assistant"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<username>\n{{ $json.message.chat.first_name }}\n</username>\n<message>\n{{ $json.message.text }}\n</message>\n<timestamp>\n{{ $now.format('LLL dd, yyyy, hh:mma') }}\n</timestamp>\n",
        "options": {
          "systemMessage": "You are a helpful assistant\nYour task is to help the user in various tasks\nBe concise, honest and direct, don't hallucinate\nIf unsure, ask for clarity from the user"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -160,
        -100
      ],
      "id": "5fbcdb9f-fec2-4408-a849-984f435b72a2",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -260,
        100
      ],
      "id": "9946fe60-3889-42d5-9c57-a6ee690c014d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "wZuLC2RdDp5qitbQ",
          "name": "manaoghanzphilip@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.message_id }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -120,
        100
      ],
      "id": "d44d3a87-96bf-4155-88c5-183e443011c3",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "guQMgrIe6y2k1wVH",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "sseEndpoint": "https://n8n.buyitproperties.online/mcp/basicTools"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        -60,
        240
      ],
      "id": "4cf2d381-d6ac-4c0a-9c5a-1bde5123135d",
      "name": "Basic tools"
    },
    {
      "parameters": {
        "chatId": "7577088103",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        200,
        -100
      ],
      "id": "2a665195-4e8f-4021-b4f0-d7410a91a5d9",
      "name": "Send a text message",
      "webhookId": "a3949a64-4fa7-4004-98f6-6315ac952b93",
      "credentials": {
        "telegramApi": {
          "id": "xAR03zieJX7sa85l",
          "name": "Ai Assistant"
        }
      }
    },
    {
      "parameters": {
        "sseEndpoint": "https://n8n.buyitproperties.online/mcp/fileM"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        60,
        240
      ],
      "id": "623a426c-451e-4ac5-bf13-040f22fe5122",
      "name": "File Management"
    },
    {
      "parameters": {
        "sseEndpoint": "https://n8n.buyitproperties.online/mcp/calendar"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        160,
        120
      ],
      "id": "d6c9a625-b543-445d-9a48-1380499d139f",
      "name": "Calendar"
    },
    {
      "parameters": {
        "sseEndpoint": "https://n8n.buyitproperties.online/mcp/myemail"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        300,
        120
      ],
      "id": "004abae4-381b-4794-83c2-b1ed57a38bdb",
      "name": "Email tools"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Basic tools": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Management": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Email tools": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "522999b5-e440-4649-8db6-a4c33b5078b7",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-07-14T09:53:31.591Z",
      "updatedAt": "2025-07-14T09:53:31.591Z",
      "role": "workflow:owner",
      "workflowId": "BQV07S67dkKXyQhu",
      "projectId": "kZBVJF2foTBqYjQ4"
    }
  ],
  "tags": []
}