n8nWorkflows/my-workflow-3.json
{
  "updatedAt": "2026-01-28T15:40:52.222Z",
  "createdAt": "2026-01-28T15:06:44.709Z",
  "id": "iz8dlivv6SdxLcDQAx6yx",
  "name": "My workflow 3",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "payrolemail",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -144,
        32
      ],
      "id": "4f681ac9-02a2-464f-9c04-e83b2a8aa786",
      "name": "Webhook",
      "webhookId": "a41d7a54-e9e6-4cee-a5a4-5ec5f13eace1"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.body.email }}",
        "subject": "PayPulse Payroll",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n    <link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap\" rel=\"stylesheet\">\n    <style>\n        body { margin: 0; padding: 0; }\n        .container { \n            font-family: 'Inter', -apple-system, BlinkMacSystemFont, \"Segoe UI\", Roboto, sans-serif; \n            max-width: 500px; \n            margin: 20px auto; \n            border: 1px solid #e5e7eb; \n            border-radius: 16px; \n            overflow: hidden; \n            box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1); \n        }\n        .header { background-color: #059669; color: #ffffff; padding: 35px 20px; text-align: center; }\n        .content { padding: 32px; line-height: 1.5; color: #1f2937; }\n        \n        /* Salary Hero Section - Ultra Prominent */\n        .salary-hero { \n            background-color: #f0fdf4; \n            border: 1px solid #dcfce7; \n            border-radius: 12px; \n            padding: 30px; \n            text-align: center; \n            margin: 24px 0; \n        }\n        .salary-label { \n            font-size: 12px; \n            color: #166534; \n            text-transform: uppercase; \n            letter-spacing: 0.05em; \n            font-weight: 600; \n            margin-bottom: 8px;\n        }\n        .salary-amount { \n            font-size: 42px; \n            color: #059669; \n            font-weight: 800; \n            margin: 0; \n            letter-spacing: -0.025em; \n        }\n        \n        .details-table { width: 100%; border-collapse: collapse; }\n        .details-table td { padding: 16px 0; border-bottom: 1px solid #f3f4f6; font-size: 14px; }\n        .label { color: #6b7280; font-weight: 400; }\n        .value { text-align: right; font-weight: 600; color: #111827; }\n        \n        .footer { background-color: #f9fafb; padding: 24px; text-align: center; font-size: 12px; color: #6b7280; }\n        .brand { color: #059669; font-weight: 700; text-decoration: none; }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            <h2 style=\"margin:0; font-weight: 800; font-size: 20px; letter-spacing: -0.025em;\">Payroll Confirmation</h2>\n        </div>\n        <div class=\"content\">\n            <p style=\"margin-top:0;\">Hi <strong>{{ $json.body.employee_name }}</strong>,</p>\n            <p>Your payment has been processed. You can find the summary of your disbursement below.</p>\n            \n            <div class=\"salary-hero\">\n                <div class=\"salary-label\">Net Pay Received</div>\n                <div class=\"salary-amount\">₱{{ $json.body.paid_salary.toLocaleString() }}</div>\n            </div>\n\n            <table class=\"details-table\">\n                <tr>\n                    <td class=\"label\">Recipient Bank</td>\n                    <td class=\"value\">{{ $json.body.bank_account }}</td>\n                </tr>\n                <tr>\n                    <td class=\"label\">Transaction Status</td>\n                    <td class=\"value\"><span style=\"color: #059669; background-color: #dcfce7; padding: 4px 8px; border-radius: 9999px; font-size: 12px;\">Success</span></td>\n                </tr>\n            </table>\n\n            <p style=\"margin-top: 32px; font-size: 13px; color: #9ca3af; text-align: center;\">\n                For security reasons, always verify your bank balance directly through your banking app.\n            </p>\n        </div>\n        <div class=\"footer\">\n            Generated by <span class=\"brand\">PayPulse</span><br>\n            Secure Payroll Solutions &copy; 2026\n        </div>\n    </div>\n</body>\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        64,
        32
      ],
      "id": "1db184c4-cf48-49a1-9cfc-0f5a25cc3be0",
      "name": "Send a message",
      "webhookId": "23f15c87-27a1-4341-ad6a-b6810096bf2c",
      "credentials": {
        "gmailOAuth2": {
          "id": "SQjQESRGfbvsewnr",
          "name": "manaoghanzphilip@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        256,
        32
      ],
      "id": "ccff3a2f-9edd-4aa7-8aea-cbe84912f35f",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "200669ef-9ef6-4d6e-b6e0-ea24aca6026d",
  "activeVersionId": "200669ef-9ef6-4d6e-b6e0-ea24aca6026d",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-28T15:06:44.712Z",
      "createdAt": "2026-01-28T15:06:44.712Z",
      "role": "workflow:owner",
      "workflowId": "iz8dlivv6SdxLcDQAx6yx",
      "projectId": "kZBVJF2foTBqYjQ4"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-28T15:41:04.000Z",
    "createdAt": "2026-01-28T15:40:52.222Z",
    "versionId": "200669ef-9ef6-4d6e-b6e0-ea24aca6026d",
    "workflowId": "iz8dlivv6SdxLcDQAx6yx",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "payrolemail",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -144,
          32
        ],
        "id": "4f681ac9-02a2-464f-9c04-e83b2a8aa786",
        "name": "Webhook",
        "webhookId": "a41d7a54-e9e6-4cee-a5a4-5ec5f13eace1"
      },
      {
        "parameters": {
          "sendTo": "={{ $json.body.email }}",
          "subject": "PayPulse Payroll",
          "message": "=<!DOCTYPE html>\n<html>\n<head>\n    <link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap\" rel=\"stylesheet\">\n    <style>\n        body { margin: 0; padding: 0; }\n        .container { \n            font-family: 'Inter', -apple-system, BlinkMacSystemFont, \"Segoe UI\", Roboto, sans-serif; \n            max-width: 500px; \n            margin: 20px auto; \n            border: 1px solid #e5e7eb; \n            border-radius: 16px; \n            overflow: hidden; \n            box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1); \n        }\n        .header { background-color: #059669; color: #ffffff; padding: 35px 20px; text-align: center; }\n        .content { padding: 32px; line-height: 1.5; color: #1f2937; }\n        \n        /* Salary Hero Section - Ultra Prominent */\n        .salary-hero { \n            background-color: #f0fdf4; \n            border: 1px solid #dcfce7; \n            border-radius: 12px; \n            padding: 30px; \n            text-align: center; \n            margin: 24px 0; \n        }\n        .salary-label { \n            font-size: 12px; \n            color: #166534; \n            text-transform: uppercase; \n            letter-spacing: 0.05em; \n            font-weight: 600; \n            margin-bottom: 8px;\n        }\n        .salary-amount { \n            font-size: 42px; \n            color: #059669; \n            font-weight: 800; \n            margin: 0; \n            letter-spacing: -0.025em; \n        }\n        \n        .details-table { width: 100%; border-collapse: collapse; }\n        .details-table td { padding: 16px 0; border-bottom: 1px solid #f3f4f6; font-size: 14px; }\n        .label { color: #6b7280; font-weight: 400; }\n        .value { text-align: right; font-weight: 600; color: #111827; }\n        \n        .footer { background-color: #f9fafb; padding: 24px; text-align: center; font-size: 12px; color: #6b7280; }\n        .brand { color: #059669; font-weight: 700; text-decoration: none; }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            <h2 style=\"margin:0; font-weight: 800; font-size: 20px; letter-spacing: -0.025em;\">Payroll Confirmation</h2>\n        </div>\n        <div class=\"content\">\n            <p style=\"margin-top:0;\">Hi <strong>{{ $json.body.employee_name }}</strong>,</p>\n            <p>Your payment has been processed. You can find the summary of your disbursement below.</p>\n            \n            <div class=\"salary-hero\">\n                <div class=\"salary-label\">Net Pay Received</div>\n                <div class=\"salary-amount\">₱{{ $json.body.paid_salary.toLocaleString() }}</div>\n            </div>\n\n            <table class=\"details-table\">\n                <tr>\n                    <td class=\"label\">Recipient Bank</td>\n                    <td class=\"value\">{{ $json.body.bank_account }}</td>\n                </tr>\n                <tr>\n                    <td class=\"label\">Transaction Status</td>\n                    <td class=\"value\"><span style=\"color: #059669; background-color: #dcfce7; padding: 4px 8px; border-radius: 9999px; font-size: 12px;\">Success</span></td>\n                </tr>\n            </table>\n\n            <p style=\"margin-top: 32px; font-size: 13px; color: #9ca3af; text-align: center;\">\n                For security reasons, always verify your bank balance directly through your banking app.\n            </p>\n        </div>\n        <div class=\"footer\">\n            Generated by <span class=\"brand\">PayPulse</span><br>\n            Secure Payroll Solutions &copy; 2026\n        </div>\n    </div>\n</body>\n</html>",
          "options": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          64,
          32
        ],
        "id": "1db184c4-cf48-49a1-9cfc-0f5a25cc3be0",
        "name": "Send a message",
        "webhookId": "23f15c87-27a1-4341-ad6a-b6810096bf2c",
        "credentials": {
          "gmailOAuth2": {
            "id": "SQjQESRGfbvsewnr",
            "name": "manaoghanzphilip@gmail.com"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          256,
          32
        ],
        "id": "ccff3a2f-9edd-4aa7-8aea-cbe84912f35f",
        "name": "Respond to Webhook"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Send a message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a message": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Hanz Philip Manaog",
    "name": "Version 200669ef",
    "description": "",
    "autosaved": true
  },
  "tags": []
}