n8nWorkflows/n8n-cert-2.json
{
  "updatedAt": "2026-01-28T05:34:23.043Z",
  "createdAt": "2026-01-28T00:27:05.820Z",
  "id": "ODjW6_FEXoUhq52xg6fPH",
  "name": "n8n cert 2",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -720,
        2368
      ],
      "id": "0633b1c9-7570-4ee5-9846-99dd6b86da2f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "var myContacts = [\n  {\n    name: 'hanz',\n    email: {\n      personal:'hanz@gmail.com',\n      work:'hanz@work.com'\n    }\n  },\n  {\n  name: 'phil',\n    email: {\n      personal:'phil@gmail.com',\n      work:'phil@work.com'\n    }\n  }\n];\n\nreturn myContacts;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        0
      ],
      "id": "321ea5f6-b26b-434c-8afa-c78cfcd9e69c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "let items = $input.all();\nitems[0].json.workEmail = items[0].json.email['work'];\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        0
      ],
      "id": "aaf31392-344d-4704-ae6f-3c118cbcf7dc",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "url": "https://blog.n8n.io",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -272,
        1312
      ],
      "id": "12c62be9-ce10-4b35-ad75-bb36338683ff",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -272,
        864
      ],
      "id": "a90063fb-14c2-4f2e-8d6a-843151b0b2b9",
      "name": "Split Out"
    },
    {
      "parameters": {
        "jsCode": "let items = $input.all();\nreturn items[0].json.results.map(item => {return{json:item}})"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        1088
      ],
      "id": "2d776af4-2107-4ea6-abe6-718529eac682",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "title",
              "cssSelector": ".post .item-title a",
              "returnValue": "html"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -48,
        1312
      ],
      "id": "876cc6f4-4449-4c40-95e2-840a833c0624",
      "name": "HTML"
    },
    {
      "parameters": {
        "url": "https://pokeapi.co/api/v2/pokemon",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -272,
        640
      ],
      "id": "afa93a13-eb5c-41be-a76b-3907aaedda2a",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "mode": "jsonToxml",
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        -48,
        640
      ],
      "id": "15913729-9307-48d0-8998-beb467f0a9e2",
      "name": "XML"
    },
    {
      "parameters": {
        "operation": "getAllPeople",
        "returnAll": true
      },
      "type": "n8n-nodes-base.n8nTrainingCustomerDatastore",
      "typeVersion": 1,
      "position": [
        -48,
        320
      ],
      "id": "c9a0a731-0028-4c24-9922-081a3dcd27a2",
      "name": "Customer Datastore (n8n training)"
    },
    {
      "parameters": {
        "operation": "roundDate",
        "date": "={{ $json.created }}",
        "mode": "roundUp",
        "outputFieldName": "new-date",
        "options": {
          "includeInputFields": true
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        176,
        320
      ],
      "id": "5b0e9bda-70e5-4a3b-8b66-6208354e275c",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "20b10f27-1968-4143-a05f-8a845c5c2f57",
              "leftValue": "={{ $json['new-date'] }}",
              "rightValue": "1960-01-01T00:00:00",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        400,
        320
      ],
      "id": "945ced26-fa68-4e0c-9c0a-b04ccd2d906d",
      "name": "If"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        624,
        320
      ],
      "id": "9af8bcdb-b8c3-4f09-9c7d-aec04dd36c13",
      "name": "Wait",
      "webhookId": "43e1caee-453e-47eb-9641-da8a143ee529"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3e61460d-19a4-4f7a-8c31-836dcef54b4e",
              "name": "outputValue",
              "value": "={{ $json['new-date'] }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        848,
        320
      ],
      "id": "46eb799f-46a9-47ea-8433-e46d439fcb3c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -272,
        416
      ],
      "id": "48e7c790-44a4-4392-801d-6421874c9fd4",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://media.kaspersky.com/pdf/Kaspersky_Lab_Whitepaper_Anti_blocker.pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -272,
        1536
      ],
      "id": "ec77ebcf-d4fb-442c-a4a5-e4ed0afe52f8",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -64,
        1536
      ],
      "id": "cecf9efb-ba88-40ff-9833-97a17a74879c",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "url": "https://poetrydb.org/random/1",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -272,
        1712
      ],
      "id": "a351ffd1-80a9-4efa-a57a-0b26cfaca151",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -64,
        1712
      ],
      "id": "53694950-227a-4f7a-b7a9-00613cab7157",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/mnt/E_drive/HDD FILES/Downloads/testing.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        144,
        1712
      ],
      "id": "f43ce5e9-14b6-40ae-86d5-c4d436ebb303",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "fileSelector": "/mnt/E_drive/HDD FILES/Downloads/testing.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        352,
        1712
      ],
      "id": "b0dc3262-1ced-4567-a6e2-5ebf075f4d22",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "operation": "getAllPeople",
        "returnAll": true
      },
      "type": "n8n-nodes-base.n8nTrainingCustomerDatastore",
      "typeVersion": 1,
      "position": [
        -320,
        2000
      ],
      "id": "5c2961a4-dbc4-45ec-be40-594617743985",
      "name": "Customer Datastore (n8n training)1"
    },
    {
      "parameters": {
        "jsCode": "var data = [\n  {\n    name: 'Jay Gatsby',\n    language: 'English',\n    country: {\n      code:'3000',\n      name:'US'\n    }\n  },\n  {\n    name: 'Max Sendak',\n    language: 'English',\n      country: {\n        code:'3000',\n        name:'US'\n      }\n  }\n];\n\nreturn data;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        2176
      ],
      "id": "ad75e498-83a6-4c7e-bd6b-6db275884c90",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -96,
        2096
      ],
      "id": "32d8c329-b7fc-4907-a1e6-d2046cb90c3b",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "let urls = [\n\t{\n\t\tjson: {\n\t\turl: 'https://medium.com/feed/n8n-io'\n\t\t}\n\t},\n\t{\n\tjson: {\n\t\turl: 'https://dev.to/feed/n8n'\n\t\t} \n\t}\n]\nreturn urls;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        2368
      ],
      "id": "f7ddf7a5-4fbd-4867-ac93-7e8408f81e4f",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -272,
        2368
      ],
      "id": "9a65d249-6e24-454c-94ab-038074de56bd",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -64,
        2464
      ],
      "id": "463c6092-0c66-4ace-82ab-6f36fea1bc55",
      "name": "RSS Read"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customer Datastore (n8n training)": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Customer Datastore (n8n training)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customer Datastore (n8n training)1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "fc6da8bd-f9b2-4e27-a4a0-077c5368c24a",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-28T00:27:05.823Z",
      "createdAt": "2026-01-28T00:27:05.823Z",
      "role": "workflow:owner",
      "workflowId": "ODjW6_FEXoUhq52xg6fPH",
      "projectId": "kZBVJF2foTBqYjQ4"
    }
  ],
  "activeVersion": null,
  "tags": []
}