n8nWorkflows/ojt-tracker-flow.json
{
  "updatedAt": "2026-01-23T04:46:33.862Z",
  "createdAt": "2026-01-23T02:21:26.344Z",
  "id": "3kogXDbD1adQNHYz0Fiu9",
  "name": "OJT Tracker flow",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "callback_query"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -224,
        96
      ],
      "id": "d1880760-614d-416c-a8e5-5bb95379b6d3",
      "name": "Telegram Trigger",
      "webhookId": "6dc38661-a641-47b9-8435-9b8a526661ce",
      "credentials": {
        "telegramApi": {
          "id": "xAR03zieJX7sa85l",
          "name": "Ai Assistant"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.callback_query.data.split(', ')[1] }}",
                    "rightValue": "HOUR",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ce743cea-6ea2-404b-be0f-7e03c44818d3"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HOUR"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5edce9d3-f8ad-4cbd-b33b-c69d5fbb3d24",
                    "leftValue": "={{ $json.callback_query.data.split(', ')[1] }}",
                    "rightValue": "MIN1",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "MIN1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f57d35b9-0b88-43f7-8525-8654f50d1fc3",
                    "leftValue": "={{ $json.callback_query.data.split(', ')[1] }}",
                    "rightValue": "MIN2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "MIN2"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c858d2f8-25bb-44af-8d49-638fcf7409df",
                    "leftValue": "={{ $json.callback_query.data.split(', ')[1] }}",
                    "rightValue": "AM/PM",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "AM/PM"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        128,
        -288
      ],
      "id": "88fb95ea-979a-447b-bf2c-ed6639fd04c3",
      "name": "IN SWITCH"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "vDffTJA0vI8LrD3t",
          "mode": "list",
          "cachedResultName": "OJT time monitor",
          "cachedResultUrl": "/projects/kZBVJF2foTBqYjQ4/datatables/vDffTJA0vI8LrD3t"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "inout",
              "keyValue": "={{ $('IN SWITCH').item.json.callback_query.data.split(', ')[0] }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "time": "={{ $('IN SWITCH').item.json.callback_query.data.split(', ')[2] }}:{{ $json.time.split(':')[1] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "inout",
              "displayName": "inout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "time",
              "displayName": "time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ampm",
              "displayName": "ampm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        512,
        -576
      ],
      "id": "0ebdc232-4b73-46e6-a663-129f60deef5e",
      "name": "Upsert row(s)"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "vDffTJA0vI8LrD3t",
          "mode": "list",
          "cachedResultName": "OJT timestamp monitor",
          "cachedResultUrl": "/projects/kZBVJF2foTBqYjQ4/datatables/vDffTJA0vI8LrD3t"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "inout",
              "keyValue": "={{ $json.callback_query.data.split(', ')[0] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        368,
        -576
      ],
      "id": "d817588c-2265-4593-8478-5584b9ed4b1f",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "vDffTJA0vI8LrD3t",
          "mode": "list",
          "cachedResultName": "OJT time monitor",
          "cachedResultUrl": "/projects/kZBVJF2foTBqYjQ4/datatables/vDffTJA0vI8LrD3t"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "inout",
              "keyValue": "={{ $('IN SWITCH').item.json.callback_query.data.split(', ')[0] }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "time": "={{ $json.time.split(':')[0] }}:{{ $('IN SWITCH').item.json.callback_query.data.split(', ')[2] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "inout",
              "displayName": "inout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "time",
              "displayName": "time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ampm",
              "displayName": "ampm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        512,
        -432
      ],
      "id": "7a3756e0-ecff-45bf-b07e-02f14fd1b480",
      "name": "Upsert row(s)1"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "vDffTJA0vI8LrD3t",
          "mode": "list",
          "cachedResultName": "OJT timestamp monitor",
          "cachedResultUrl": "/projects/kZBVJF2foTBqYjQ4/datatables/vDffTJA0vI8LrD3t"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "inout",
              "keyValue": "={{ $json.callback_query.data.split(', ')[0] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        368,
        -432
      ],
      "id": "dfe3d5bd-fcce-49ba-b840-b69ce904b31c",
      "name": "Get row(s)1"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "vDffTJA0vI8LrD3t",
          "mode": "list",
          "cachedResultName": "OJT time monitor",
          "cachedResultUrl": "/projects/kZBVJF2foTBqYjQ4/datatables/vDffTJA0vI8LrD3t"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "inout",
              "keyValue": "={{ $('IN SWITCH').item.json.callback_query.data.split(', ')[0] }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "time": "={{ $json.time.trim() }}{{ $('IN SWITCH').item.json.callback_query.data.split(', ')[2].trim() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "inout",
              "displayName": "inout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "time",
              "displayName": "time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ampm",
              "displayName": "ampm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        512,
        -288
      ],
      "id": "edb240e4-9907-45b0-bb29-9bc7a7dc01c9",
      "name": "Upsert row(s)2"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "vDffTJA0vI8LrD3t",
          "mode": "list",
          "cachedResultName": "OJT timestamp monitor",
          "cachedResultUrl": "/projects/kZBVJF2foTBqYjQ4/datatables/vDffTJA0vI8LrD3t"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "inout",
              "keyValue": "={{ $json.callback_query.data.split(', ')[0] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        368,
        -288
      ],
      "id": "f013a267-438d-4b56-8369-0ef792fc68cb",
      "name": "Get row(s)2"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "vDffTJA0vI8LrD3t",
          "mode": "list",
          "cachedResultName": "OJT time monitor",
          "cachedResultUrl": "/projects/kZBVJF2foTBqYjQ4/datatables/vDffTJA0vI8LrD3t"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "inout",
              "keyValue": "={{ $('IN SWITCH').item.json.callback_query.data.split(', ')[0] }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ampm": "={{ $('IN SWITCH').item.json.callback_query.data.split(', ')[2]}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "inout",
              "displayName": "inout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "time",
              "displayName": "time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ampm",
              "displayName": "ampm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        368,
        -144
      ],
      "id": "da577271-d020-4d86-8b42-74b88ead6df8",
      "name": "Upsert row(s)3"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "vDffTJA0vI8LrD3t",
          "mode": "list",
          "cachedResultName": "OJT timestamp monitor",
          "cachedResultUrl": "/projects/kZBVJF2foTBqYjQ4/datatables/vDffTJA0vI8LrD3t"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "inout",
              "keyValue": "=OUT"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        512,
        -144
      ],
      "id": "f54c491e-1a52-4b1f-910f-2809d71f0a53",
      "name": "Get row(s)3"
    },
    {
      "parameters": {
        "chatId": "7577088103",
        "text": "=🗓️ {{ $today.format(\"DD\") }} OJT ATTENDANCE! 🖊️\n  🕛 TIME {{ $json.inout }} (MIN1): \"{{ $json.time.split(':')[0] }}:X- --\"",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "=1",
                    "additionalFields": {
                      "callback_data": "IN, MIN1, 1"
                    }
                  },
                  {
                    "text": "2",
                    "additionalFields": {
                      "callback_data": "IN, MIN1, 2"
                    }
                  },
                  {
                    "text": "3",
                    "additionalFields": {
                      "callback_data": "IN, MIN1, 3"
                    }
                  },
                  {
                    "text": "4",
                    "additionalFields": {
                      "callback_data": "IN, MIN1, 4"
                    }
                  },
                  {
                    "text": "5",
                    "additionalFields": {
                      "callback_data": "IN, MIN1, 5"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "6",
                    "additionalFields": {
                      "callback_data": "IN, MIN1, 6"
                    }
                  },
                  {
                    "text": "7",
                    "additionalFields": {
                      "callback_data": "IN, MIN1, 7"
                    }
                  },
                  {
                    "text": "8",
                    "additionalFields": {
                      "callback_data": "IN, MIN1, 8"
                    }
                  },
                  {
                    "text": "9",
                    "additionalFields": {
                      "callback_data": "IN, MIN1, 9"
                    }
                  },
                  {
                    "text": "0",
                    "additionalFields": {
                      "callback_data": "IN, MIN1, 0"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        688,
        -576
      ],
      "id": "84f621d6-8a14-4e00-ae3c-38d4b60fc9de",
      "name": "TIME SET 1",
      "webhookId": "d0db2ce4-695e-46c7-bdaf-4c1536155f15",
      "credentials": {
        "telegramApi": {
          "id": "xAR03zieJX7sa85l",
          "name": "Ai Assistant"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7577088103",
        "text": "=🗓️ {{ $today.format(\"DD\") }} OJT ATTENDANCE! 🖊️\n  🕛 TIME {{ $json.inout }} (MIN2): \"{{ $json.time }}X --\"",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "=1",
                    "additionalFields": {
                      "callback_data": "IN, MIN2, 1"
                    }
                  },
                  {
                    "text": "2",
                    "additionalFields": {
                      "callback_data": "IN, MIN2, 2"
                    }
                  },
                  {
                    "text": "3",
                    "additionalFields": {
                      "callback_data": "IN, MIN2, 3"
                    }
                  },
                  {
                    "text": "4",
                    "additionalFields": {
                      "callback_data": "IN, MIN2, 4"
                    }
                  },
                  {
                    "text": "5",
                    "additionalFields": {
                      "callback_data": "IN, MIN2, 5"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "6",
                    "additionalFields": {
                      "callback_data": "IN, MIN2, 6"
                    }
                  },
                  {
                    "text": "7",
                    "additionalFields": {
                      "callback_data": "IN, MIN2, 7"
                    }
                  },
                  {
                    "text": "8",
                    "additionalFields": {
                      "callback_data": "IN, MIN2, 8"
                    }
                  },
                  {
                    "text": "9",
                    "additionalFields": {
                      "callback_data": "IN, MIN2, 9"
                    }
                  },
                  {
                    "text": "0",
                    "additionalFields": {
                      "callback_data": "IN, MIN2, 0"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        688,
        -432
      ],
      "id": "d7042cf4-5608-4f62-a5c8-fda38807d09d",
      "name": "TIME SET 2",
      "webhookId": "d0db2ce4-695e-46c7-bdaf-4c1536155f15",
      "credentials": {
        "telegramApi": {
          "id": "xAR03zieJX7sa85l",
          "name": "Ai Assistant"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7577088103",
        "text": "=🗓️ {{ $today.format(\"DD\") }} OJT ATTENDANCE! 🖊️\n  🕛 TIME {{ $json.inout }} (AM/PM): \"{{ $json.time }} XX\"",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "AM",
                    "additionalFields": {
                      "callback_data": "IN, AM/PM, AM"
                    }
                  },
                  {
                    "text": "PM",
                    "additionalFields": {
                      "callback_data": "IN, AM/PM, PM"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        688,
        -288
      ],
      "id": "5ec77d60-03c6-4ff9-84b4-3ccefee9affb",
      "name": "TIME SET 3",
      "webhookId": "d0db2ce4-695e-46c7-bdaf-4c1536155f15",
      "credentials": {
        "telegramApi": {
          "id": "xAR03zieJX7sa85l",
          "name": "Ai Assistant"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7577088103",
        "text": "=🗓️ {{ $today.format(\"DD\") }} OJT ATTENDANCE! 🖊️\n  🕛 TIME IN: {{ $('Upsert row(s)3').item.json.time }} {{ $('Upsert row(s)3').item.json.ampm }}\n  🕛 TIME {{ $json.inout }} (HOUR): \"XX:-- --\"",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "=1",
                    "additionalFields": {
                      "callback_data": "OUT, HOUR, 01"
                    }
                  },
                  {
                    "text": "2",
                    "additionalFields": {
                      "callback_data": "OUT, HOUR, 02"
                    }
                  },
                  {
                    "text": "3",
                    "additionalFields": {
                      "callback_data": "OUT, HOUR, 03"
                    }
                  },
                  {
                    "text": "4",
                    "additionalFields": {
                      "callback_data": "OUT, HOUR, 04"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "5",
                    "additionalFields": {
                      "callback_data": "OUT, HOUR, 05"
                    }
                  },
                  {
                    "text": "6",
                    "additionalFields": {
                      "callback_data": "OUT, HOUR, 06"
                    }
                  },
                  {
                    "text": "7",
                    "additionalFields": {
                      "callback_data": "OUT, HOUR, 07"
                    }
                  },
                  {
                    "text": "8",
                    "additionalFields": {
                      "callback_data": "OUT, HOUR, 08"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "9",
                    "additionalFields": {
                      "callback_data": "OUT, HOUR, 09"
                    }
                  },
                  {
                    "text": "10",
                    "additionalFields": {
                      "callback_data": "OUT, HOUR, 10"
                    }
                  },
                  {
                    "text": "11",
                    "additionalFields": {
                      "callback_data": "OUT, HOUR, 11"
                    }
                  },
                  {
                    "text": "12",
                    "additionalFields": {
                      "callback_data": "OUT, HOUR, 12"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        688,
        -144
      ],
      "id": "fbfe9f3d-fae1-4640-b641-cfb4e830295a",
      "name": "TIME SET 4",
      "webhookId": "d0db2ce4-695e-46c7-bdaf-4c1536155f15",
      "credentials": {
        "telegramApi": {
          "id": "xAR03zieJX7sa85l",
          "name": "Ai Assistant"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.callback_query.data.split(', ')[0] }}",
                    "rightValue": "IN",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "29d85402-caba-40b0-9056-46c47909cde8"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "IN"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "308fbb2d-d147-4d11-b14e-47ca813be807",
                    "leftValue": "={{ $json.callback_query.data.split(', ')[0] }}",
                    "rightValue": "OUT",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "OUT"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -64,
        96
      ],
      "id": "6d28e806-20cc-47ef-bf26-fe0c88ba1409",
      "name": "IN/OUT SWITCH"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.callback_query.data.split(', ')[1] }}",
                    "rightValue": "HOUR",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ce743cea-6ea2-404b-be0f-7e03c44818d3"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HOUR"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5edce9d3-f8ad-4cbd-b33b-c69d5fbb3d24",
                    "leftValue": "={{ $json.callback_query.data.split(', ')[1] }}",
                    "rightValue": "MIN1",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "MIN1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f57d35b9-0b88-43f7-8525-8654f50d1fc3",
                    "leftValue": "={{ $json.callback_query.data.split(', ')[1] }}",
                    "rightValue": "MIN2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "MIN2"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c858d2f8-25bb-44af-8d49-638fcf7409df",
                    "leftValue": "={{ $json.callback_query.data.split(', ')[1] }}",
                    "rightValue": "AM/PM",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "AM/PM"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        128,
        144
      ],
      "id": "e3a0e83f-c36e-4b6a-8bf4-fe8a3ae4f403",
      "name": "OUT SWITCH"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "vDffTJA0vI8LrD3t",
          "mode": "list",
          "cachedResultName": "OJT time monitor",
          "cachedResultUrl": "/projects/kZBVJF2foTBqYjQ4/datatables/vDffTJA0vI8LrD3t"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "inout",
              "keyValue": "={{ $('OUT SWITCH').item.json.callback_query.data.split(', ')[0] }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "time": "={{ $('OUT SWITCH').item.json.callback_query.data.split(', ')[2] }}:{{ $json.time.split(':')[1] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "inout",
              "displayName": "inout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "time",
              "displayName": "time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ampm",
              "displayName": "ampm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        512,
        80
      ],
      "id": "bd435059-4f30-4c66-93e1-8ecc254cad67",
      "name": "Upsert row(s)4"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "vDffTJA0vI8LrD3t",
          "mode": "list",
          "cachedResultName": "OJT timestamp monitor",
          "cachedResultUrl": "/projects/kZBVJF2foTBqYjQ4/datatables/vDffTJA0vI8LrD3t"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "inout",
              "keyValue": "={{ $json.callback_query.data.split(', ')[0] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        368,
        80
      ],
      "id": "c95c0fb3-1e8b-4bcf-b01a-ebfa43e85357",
      "name": "Get row(s)4"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "vDffTJA0vI8LrD3t",
          "mode": "list",
          "cachedResultName": "OJT time monitor",
          "cachedResultUrl": "/projects/kZBVJF2foTBqYjQ4/datatables/vDffTJA0vI8LrD3t"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "inout",
              "keyValue": "={{ $('OUT SWITCH').item.json.callback_query.data.split(', ')[0] }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "time": "={{ $json.time.split(':')[0] }}:{{ $('OUT SWITCH').item.json.callback_query.data.split(', ')[2] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "inout",
              "displayName": "inout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "time",
              "displayName": "time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ampm",
              "displayName": "ampm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        512,
        224
      ],
      "id": "fd4a7140-1dcd-4ca5-aa4b-92835048530e",
      "name": "Upsert row(s)5"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "vDffTJA0vI8LrD3t",
          "mode": "list",
          "cachedResultName": "OJT timestamp monitor",
          "cachedResultUrl": "/projects/kZBVJF2foTBqYjQ4/datatables/vDffTJA0vI8LrD3t"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "inout",
              "keyValue": "={{ $json.callback_query.data.split(', ')[0] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        368,
        224
      ],
      "id": "f2b9d19a-d1d3-48f9-9edd-b2a6f34b1bbd",
      "name": "Get row(s)5"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "vDffTJA0vI8LrD3t",
          "mode": "list",
          "cachedResultName": "OJT time monitor",
          "cachedResultUrl": "/projects/kZBVJF2foTBqYjQ4/datatables/vDffTJA0vI8LrD3t"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "inout",
              "keyValue": "={{ $('OUT SWITCH').item.json.callback_query.data.split(', ')[0] }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "time": "={{ $json.time.trim() }}{{ $('OUT SWITCH').item.json.callback_query.data.split(', ')[2].trim() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "inout",
              "displayName": "inout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "time",
              "displayName": "time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ampm",
              "displayName": "ampm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        512,
        368
      ],
      "id": "7708149f-8292-4058-9929-3f1685d3d330",
      "name": "Upsert row(s)6"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "vDffTJA0vI8LrD3t",
          "mode": "list",
          "cachedResultName": "OJT timestamp monitor",
          "cachedResultUrl": "/projects/kZBVJF2foTBqYjQ4/datatables/vDffTJA0vI8LrD3t"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "inout",
              "keyValue": "={{ $json.callback_query.data.split(', ')[0] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        368,
        368
      ],
      "id": "5ebc4c15-96b1-44f2-a998-d98eb7c30d52",
      "name": "Get row(s)6"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "vDffTJA0vI8LrD3t",
          "mode": "list",
          "cachedResultName": "OJT time monitor",
          "cachedResultUrl": "/projects/kZBVJF2foTBqYjQ4/datatables/vDffTJA0vI8LrD3t"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "inout",
              "keyValue": "={{ $('OUT SWITCH').item.json.callback_query.data.split(', ')[0] }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ampm": "={{ $('OUT SWITCH').item.json.callback_query.data.split(', ')[2]}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "inout",
              "displayName": "inout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "time",
              "displayName": "time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ampm",
              "displayName": "ampm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        368,
        512
      ],
      "id": "04545241-66cc-4efa-9f4c-7112eca39f53",
      "name": "Upsert row(s)7"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "vDffTJA0vI8LrD3t",
          "mode": "list",
          "cachedResultName": "OJT timestamp monitor",
          "cachedResultUrl": "/projects/kZBVJF2foTBqYjQ4/datatables/vDffTJA0vI8LrD3t"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        512,
        512
      ],
      "id": "929a9e0a-e11c-477f-9cfb-2efc9dd5cb28",
      "name": "Get row(s)7"
    },
    {
      "parameters": {
        "chatId": "7577088103",
        "text": "=🗓️ {{ $today.format(\"DD\") }} OJT ATTENDANCE! 🖊️\n  🕛 TIME {{ $json.inout }} (MIN1): \"{{ $json.time.split(':')[0] }}:X- --\"",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "=1",
                    "additionalFields": {
                      "callback_data": "OUT, MIN1, 1"
                    }
                  },
                  {
                    "text": "2",
                    "additionalFields": {
                      "callback_data": "OUT, MIN1, 2"
                    }
                  },
                  {
                    "text": "3",
                    "additionalFields": {
                      "callback_data": "OUT, MIN1, 3"
                    }
                  },
                  {
                    "text": "4",
                    "additionalFields": {
                      "callback_data": "OUT, MIN1, 4"
                    }
                  },
                  {
                    "text": "5",
                    "additionalFields": {
                      "callback_data": "OUT, MIN1, 5"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "6",
                    "additionalFields": {
                      "callback_data": "OUT, MIN1, 6"
                    }
                  },
                  {
                    "text": "7",
                    "additionalFields": {
                      "callback_data": "OUT, MIN1, 7"
                    }
                  },
                  {
                    "text": "8",
                    "additionalFields": {
                      "callback_data": "OUT, MIN1, 8"
                    }
                  },
                  {
                    "text": "9",
                    "additionalFields": {
                      "callback_data": "OUT, MIN1, 9"
                    }
                  },
                  {
                    "text": "0",
                    "additionalFields": {
                      "callback_data": "OUT, MIN1, 0"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        688,
        80
      ],
      "id": "9fcf40e5-17d3-47c7-b4c8-b36c7beb1ae8",
      "name": "TIME SET ",
      "webhookId": "d0db2ce4-695e-46c7-bdaf-4c1536155f15",
      "credentials": {
        "telegramApi": {
          "id": "xAR03zieJX7sa85l",
          "name": "Ai Assistant"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7577088103",
        "text": "=🗓️ {{ $today.format(\"DD\") }} OJT ATTENDANCE! 🖊️\n  🕛 TIME {{ $json.inout }} (MIN2): \"{{ $json.time }}X --\"",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "=1",
                    "additionalFields": {
                      "callback_data": "OUT, MIN2, 1"
                    }
                  },
                  {
                    "text": "2",
                    "additionalFields": {
                      "callback_data": "OUT, MIN2, 2"
                    }
                  },
                  {
                    "text": "3",
                    "additionalFields": {
                      "callback_data": "OUT, MIN2, 3"
                    }
                  },
                  {
                    "text": "4",
                    "additionalFields": {
                      "callback_data": "OUT, MIN2, 4"
                    }
                  },
                  {
                    "text": "5",
                    "additionalFields": {
                      "callback_data": "OUT, MIN2, 5"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "6",
                    "additionalFields": {
                      "callback_data": "OUT, MIN2, 6"
                    }
                  },
                  {
                    "text": "7",
                    "additionalFields": {
                      "callback_data": "OUT, MIN2, 7"
                    }
                  },
                  {
                    "text": "8",
                    "additionalFields": {
                      "callback_data": "OUT, MIN2, 8"
                    }
                  },
                  {
                    "text": "9",
                    "additionalFields": {
                      "callback_data": "OUT, MIN2, 9"
                    }
                  },
                  {
                    "text": "0",
                    "additionalFields": {
                      "callback_data": "OUT, MIN2, 0"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        688,
        224
      ],
      "id": "6f1bcca3-8ba8-4367-87bf-96c63ba9f4e0",
      "name": "TIME SET 5",
      "webhookId": "d0db2ce4-695e-46c7-bdaf-4c1536155f15",
      "credentials": {
        "telegramApi": {
          "id": "xAR03zieJX7sa85l",
          "name": "Ai Assistant"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7577088103",
        "text": "=🗓️ {{ $today.format(\"DD\") }} OJT ATTENDANCE! 🖊️\n  🕛 TIME {{ $json.inout }} (AM/PM): \"{{ $json.time }} XX\"",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "AM",
                    "additionalFields": {
                      "callback_data": "OUT, AM/PM, AM"
                    }
                  },
                  {
                    "text": "PM",
                    "additionalFields": {
                      "callback_data": "OUT, AM/PM, PM"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        688,
        368
      ],
      "id": "7a168b5e-9e3a-44f4-b941-d6bcfab71047",
      "name": "TIME SET 6",
      "webhookId": "d0db2ce4-695e-46c7-bdaf-4c1536155f15",
      "credentials": {
        "telegramApi": {
          "id": "xAR03zieJX7sa85l",
          "name": "Ai Assistant"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        688,
        512
      ],
      "id": "499935de-9557-4793-8ddc-49d13a86306e",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "chatId": "7577088103",
        "text": "=🗓️ {{ $today.format(\"DD\") }} OJT ATTENDANCE! 🖊️\n  🕛 TIME {{ $json.data[0].inout }}: {{ $json.data[0].time }} {{ $json.data[0].ampm }}\n  🕛 TIME {{ $json.data[1].inout }}: {{ $json.data[1].time }} {{ $json.data[1].ampm }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        848,
        512
      ],
      "id": "21b5f33f-0624-468e-b916-ddc18f8b3471",
      "name": "TIME SET 7",
      "webhookId": "d0db2ce4-695e-46c7-bdaf-4c1536155f15",
      "credentials": {
        "telegramApi": {
          "id": "xAR03zieJX7sa85l",
          "name": "Ai Assistant"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "IN/OUT SWITCH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IN SWITCH": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s)2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upsert row(s)3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert row(s)": {
      "main": [
        [
          {
            "node": "TIME SET 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Upsert row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert row(s)1": {
      "main": [
        [
          {
            "node": "TIME SET 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)1": {
      "main": [
        [
          {
            "node": "Upsert row(s)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert row(s)2": {
      "main": [
        [
          {
            "node": "TIME SET 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)2": {
      "main": [
        [
          {
            "node": "Upsert row(s)2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert row(s)3": {
      "main": [
        [
          {
            "node": "Get row(s)3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)3": {
      "main": [
        [
          {
            "node": "TIME SET 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IN/OUT SWITCH": {
      "main": [
        [
          {
            "node": "IN SWITCH",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OUT SWITCH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert row(s)4": {
      "main": [
        [
          {
            "node": "TIME SET ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)4": {
      "main": [
        [
          {
            "node": "Upsert row(s)4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert row(s)5": {
      "main": [
        [
          {
            "node": "TIME SET 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)5": {
      "main": [
        [
          {
            "node": "Upsert row(s)5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert row(s)6": {
      "main": [
        [
          {
            "node": "TIME SET 6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)6": {
      "main": [
        [
          {
            "node": "Upsert row(s)6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert row(s)7": {
      "main": [
        [
          {
            "node": "Get row(s)7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)7": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OUT SWITCH": {
      "main": [
        [
          {
            "node": "Get row(s)4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s)5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s)6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upsert row(s)7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "TIME SET 7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "36a21441-dfc4-465d-8443-86d0b83e1d63",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-23T02:21:26.347Z",
      "createdAt": "2026-01-23T02:21:26.347Z",
      "role": "workflow:owner",
      "workflowId": "3kogXDbD1adQNHYz0Fiu9",
      "projectId": "kZBVJF2foTBqYjQ4"
    }
  ],
  "activeVersion": null,
  "tags": []
}